<text-element *ngIf="type == 'text'" 
(changed)="handleChanged($event)"
value="{{ value }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
class="{{ class }}"></text-element>

<text-element *ngIf="type == 'jsonb' || type == 'json'" 
(changed)="handleChanged($event)"
value="{{ valueJson }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
class="{{ class }}"></text-element>

<jsonviewer-element *ngIf="type == 'jsonviewer'" 
(changed)="handleChanged($event)"
value="{{ valueJson }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
class="{{ class }}"></jsonviewer-element>

<rich-text-element *ngIf="type == 'richtext'" 
value="{{ value }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
upFormId="{{ upFormId }}"
class="{{ class }}"></rich-text-element>

<string-element *ngIf="type == 'string'" 
(changed)="handleChanged($event)"
value="{{ value }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
class="{{ class }}"></string-element>

<phone-element *ngIf="type == 'phone'" 
(changed)="handleChanged($event)"
value="{{ value }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
upFormId="{{ upFormId }}"
class="{{ class }}"></phone-element>

<password-element *ngIf="type == 'password'" 
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
class="{{ class }}"></password-element>

<number-element *ngIf="type == 'numeric'" 
(changed)="handleChanged($event)"
value="{{ value }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
class="{{ class }}"></number-element>

<date-time-element *ngIf="type == 'datetime'" 
(changed)="handleChanged($event)"
value="{{ value }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
upFormId="{{ upFormId }}"
class="{{ class }}"></date-time-element>

<time-element *ngIf="type == 'time'" 
(changed)="handleChanged($event)"
value="{{ value }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
upFormId="{{ upFormId }}"
class="{{ class }}"></time-element>

<date-element *ngIf="type == 'date'" 
(changed)="handleChanged($event)"
value="{{ value }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
upFormId="{{ upFormId }}"
class="{{ class }}"></date-element>

<boolean-element *ngIf="type.split(':')[0] == 'boolean'" 
(changed)="handleChanged($event)"
value="{{ value }}"
defaultData="{{ defaultData }}"
name="{{ name }}"
[createForm]="createForm"
guiType="{{ type }}"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
class="{{ class }}"></boolean-element>

<select-element *ngIf="type.split(':')[0] == 'select'" 
(changed)="handleChanged($event)"
upColumnName="{{ upColumnName }}"
type="{{ type }}"
upFormId="{{ upFormId }}"
defaultData="{{ defaultData }}"
value="{{ value }}"
[createForm]="createForm"
valueJson="{{ valueJson }}"
name="{{ name }}"
columnName="{{ columnName }}"
baseUrl="{{ baseUrl }}" 
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
recordJson="{{ recordJson }}"
class="{{ class }}"></select-element>

<multi-select-element *ngIf="type.split(':')[0] == 'multiselect'" 
(changed)="handleChanged($event)"
upColumnName="{{ upColumnName }}"
upFormId="{{ upFormId }}"
type="{{ type }}"
defaultData="{{ defaultData }}"
value="{{ value }}"
[createForm]="createForm"
valueJson="{{ valueJson }}"
name="{{ name }}"
columnName="{{ columnName }}"
baseUrl="{{ baseUrl }}" 
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
showClearDataButton="{{ showClearDataButton }}"
recordJson="{{ recordJson }}"
class="{{ class }}"></multi-select-element>

<multi-select-drag-drop-element *ngIf="type.split(':')[0] == 'multiselectdragdrop'" 
(changed)="handleChanged($event)"
upColumnName="{{ upColumnName }}"
upFormId="{{ upFormId }}"
type="{{ type }}"
defaultData="{{ defaultData }}"
[createForm]="createForm"
value="{{ value }}"
valueJson="{{ valueJson }}"
name="{{ name }}"
columnName="{{ columnName }}"
baseUrl="{{ baseUrl }}" 
placeholder="{{ placeholder }}"
recordJson="{{ recordJson }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
class="{{ class }}"></multi-select-drag-drop-element>

<files-element *ngIf="type == 'files'" 
(changed)="handleChanged($event)"
defaultData="{{ defaultData }}"
value="{{ value }}"
[createForm]="createForm"
valueJson="{{ valueJson }}"
name="{{ name }}"
columnName="{{ columnName }}"
baseUrl="{{ baseUrl }}" 
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
class="{{ class }}"></files-element>


<map-element *ngIf="isGeoType(type)" 
(changed)="handleChanged($event)"
upFormId="{{ upFormId }}"
srid="{{ srid }}"
type="{{ type }}"
defaultData="{{ defaultData }}"
value="{{ value }}"
[createForm]="createForm"
name="{{ name }}"
columnName="{{ columnName }}"
multiple="{{ isGeoMultiple(type) ? 'true' : null }}"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"></map-element>

<code-editor-element *ngIf="type.split(':')[0] == 'codeeditor'" 
type="{{ type }}"
value="{{ value }}"
defaultData="{{ defaultData }}"
[createForm]="createForm"
name="{{ name }}"
class="{{ class }}"></code-editor-element>

<money-element *ngIf="type.split(':')[0] == 'money'" 
(changed)="handleChanged($event)"
type="{{ type }}"
value="{{ value }}"
defaultData="{{ defaultData }}"
[createForm]="createForm"
placeholder="{{ placeholder }}"
showFilterTypesSelect="{{ showFilterTypesSelect }}"
filterType="{{ filterType }}"
name="{{ name }}"
upFormId="{{ upFormId }}"
class="{{ class }}"></money-element>