<section class="content" style="margin: 10px !important;">    
    <div class="container">
        <div class="card">
            <br>
            <h1>Gizlilik Politikası</h1>
            <p>
                Web sitemize girilen bilgilerin güvenliği açısından şirketimiz sistem ve internet altyapısı en güvenilir seviyede tutularak gerekli önlemler alınmıştır. Sitemize kişisel bilgi girilmesi durumunda bu bilgiler Bilgi Güvenliği Yönetim Sistemi kapsamında güvenli bir şekilde korunmaktadır.
                <br><br>
                Kişisel bilgiler yasalara uygun olarak verilmiş Mahkeme/Savcılık kararları, yasal istisnalar ve kişinin kendine ait kişisel bilgilerini üçüncü kişilere vermek yönündeki açık yazılı onayı dışında, hiçbir şekilde üçüncü kişilere verilmez. Ancak, XXXXXXXXX meydana gelebilecek bir sahtecilik/dolandırıcılık ya da herhangi bir soruşturma ya da bilgi güvenliği ihlali konusunda yasal merciler ve diğer ilgili kurumlar ile işbirliği yapabilir ve yasalar tarafından gerekli görülen hallerde ya da adli makamların talebini yerine getirmek maksadıyla, elde edilen her türlü bilgiyi (kişisel veriler dahil) ifşa etme hakkını da saklı tutar.
            </p>
        </div>
    </div>
</section>