<body>
         
        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/themes/aero/assets/images/loader.svg" width="48" height="48" alt="Aero"></div>
                <p>Bekleyin...</p>
            </div>
        </div>
        
        <!-- Overlay For Sidebars -->
        <div class="overlay"></div>
        
        <!-- Main Search -->
        <div id="search">
            <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
            <form>
                <input id="searchWords" type="search" value="" placeholder="Nasıl yardımcı olabilirim?" />
                <button (click)="search()" type="submit" class="btn btn-primary">Arama</button>
            </form>
        </div>
        
        <!-- Right Icon menu Sidebar -->
        <div class="navbar-right">
            <ul class="navbar-nav">
                <li>
                    <a style="padding: 10px !important; margin-bottom: 10px !important;" href="#search" class="main_search" title="Search...">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>
                
                <li class="dropdown" *ngIf="announcements.length > 0">
                    <a *ngIf="newAnnouncements" class="dropdown-toggle" style="padding: 10px !important; margin-bottom: 10px !important;"
                        title="Duyurular" data-toggle="dropdown" 
                        role="button" aria-expanded="false">

                        <i style="color: #ce1b1b;" class="zmdi zmdi-notifications"></i>
                        <div class="notify">
                            <span class="heartbit" style="border-color: #ce1b1b;"></span>
                            <span class="point" style="background-color: #ce1b1b;"></span>
                        </div>
                    </a>
                    <a *ngIf="!newAnnouncements" class="dropdown-toggle" style="padding: 10px !important; margin-bottom: 10px !important;"
                        title="Duyurular" data-toggle="dropdown" 
                        role="button" aria-expanded="false">

                        <i style="color: black;" class="zmdi zmdi-notifications"></i>
                    </a>
                    <ul class="dropdown-menu slideUp2" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 50px, 0px);">
                        <li class="header">Duyurular</li>
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 330px;">
                            <li 
                                class="body" 
                                style="overflow: auto; width: auto; height: 330px;">
                                <ul class="menu list-unstyled" style="width: 100%;">
                                    <li *ngFor="let item of announcements" [class]="item['new'] ? 'newAnnouncement' : ''">
                                        <a (click)="announcementReaded(item)" href="javascript:void(0);">
                                            <div [class]="'icon-circle bg-'+item.type"><i [class]="item.icon"></i></div>
                                            <div class="menu-info">
                                                <h4>{{ item.title }}</h4>
                                                <p><i class="zmdi zmdi-time"></i> {{ item.created_at }} {{ item["new"] }} </p>
                                                <div
                                                    style="color: gray; width: 200px;"
                                                    [innerHtml]="item.announcement"
                                                    >

                                                    </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>                        
                            </li>
                        </div>
                    </ul>
                </li>
                
                <li class="dropdown" id="shortcuts">
                    <a style="padding: 10px !important; margin-bottom: 10px !important;" 
                        href="javascript:void(0);" class="dropdown-toggle" 
                        title="Kısayollar" data-toggle="dropdown" role="button">
                        
                        <i class="zmdi zmdi-apps"></i>
                    </a>
                    <ul class="dropdown-menu slideUp2">
                        <li class="header">Kısayollar</li>
                        <li class="body">
                            <ul class="menu app_sortcut list-unstyled">
                                <!--<li>
                                    <a>
                                        <div class="icon-circle mb-2 bg-blue">
                                            <i class="zmdi zmdi-account"></i>
                                        </div>
                                        <p style="font-size: 11px" class="mb-0">Yetki<br>Yenile</p>
                                    </a>
                                </li>-->
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a style="padding: 10px !important; margin-bottom: 10px !important;" 
                        href="javascript:void(0);" class="js-right-sidebar" title="Setting">
                        
                        <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
                    </a>
                </li>
                <li>
                    <a 
                        (click)="logout()"
                        style="padding: 10px !important; margin-bottom: 10px !important;"  
                        [class]="getLogoutButtonClass()" 
                        title="Çıkış Yap">

                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <div class="navbar-brand">
                <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
                <a href="/"><img src="assets/themes/aero/assets/images/logo25x25.png" width="25" alt="Aero"><span class="m-l-10">{{ getAppName() }}</span></a>
            </div>
            <div class="menu">
                <ul class="list">
                    <li [hidden]="user == {}">
                        <div class="user-info">
                            <a class="image"><img src="{{ getProfilePictureUrl() }}" alt='{{ user["name_basic"] + " " + user["surname"] }}'></a>
                            <div class="detail">
                                <h4>{{ user["name_basic"] + " " + user["surname"] }}</h4>                                
                                <small *ngIf="!isUserEditOwn()">{{ user["email"] }}</small> 
                                <small *ngIf="isUserEditOwn()">
                                    <a style="padding: 0 !important;" href="{{ getUserEditUrl() }}">{{ user["email"] }}</a>
                                </small>                  
                            </div>
                        </div>
                    </li>

                    <li>
                        <table style="padding: 0; margin: 0;width: 100%;">
                            <tr>
                                <td><input id="menuFilter" placeholder="Filtrele" (input)="searchInMenuInputChanged($event)" class="form-control"></td>
                                <td style="padding: 0 0 0 5px;">
                                    <a style="padding: 0;" (click)="clearMenuFilter()">x</a>
                                </td>
                            </tr>
                        </table>
                        
                    </li>
                    
                    <li *ngFor="let menuItem of aeroThemeHelper.baseMenu">
                            <a [hidden]="menuItem.link == null || menuItem.link == ''"
                                href="#{{ menuItem.link }}">

                                <i [class]="'zmdi ' + menuItem.icon"></i>
                                <span>{{ menuItem.title }} </span>
                            </a>
                        
                            <a [hidden]="menuItem.func == null"
                                (click)="menuItemClick(menuItem.func)">

                                <i [class]="'zmdi ' + menuItem.icon"></i>
                                <span>{{ menuItem.title }} </span>
                            </a>
                            
                            <a [hidden]="menuItem.link != null"  
                                [class] = "'menu-toggle ' + (menuItem.toggled ? 'toggled' : '')">
                                <i [class]="'zmdi ' + menuItem.icon"></i><span>{{ menuItem.title }}</span>
                            </a>
                            <ul class="ml-menu">
                                <li *ngFor="let childMenuItem of menuItem.children">
                                    <a [hidden]="childMenuItem['type'] != 'standart'" href="#{{ childMenuItem.link }}">{{ childMenuItem.title }}</a>
                                    
                                    <a 
                                        [hidden]="childMenuItem['type'] != 'additionalLink'" 
                                        (click)="additionalLinkClicked(childMenuItem['additionalLink'])">
                                        
                                        {{ childMenuItem.title }}
                                    </a>
                                    
                                    <div 
                                        *ngIf="childMenuItem.linkDescription.length > 0"
                                        class="link_description">
                                        
                                        {{ childMenuItem.linkDescription }}
                                    </div>
                                </li>
                            </ul>
                    </li>
                </ul>
            </div>
        </aside>
        
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar" style="z-index: 99999;">
            <div class="slim_scroll">
                <div class="card">
                    <h6>Tema</h6>
                    <div class="light_dark">
                        <div class="radio">
                            <input (click)="changeTheme('light')" type="radio" name="radio1" id="lighttheme" value="light" [checked]="isCurrentTheme('light')">
                            <label for="lighttheme">Açık Mod</label>
                        </div>
                        <div class="radio mb-0">
                            <input (click)="changeTheme('dark')" type="radio" name="radio1" id="darktheme" value="dark" [checked]="isCurrentTheme('dark')">
                            <label for="darktheme">Koyu Mod</label>
                        </div>
                    </div>  
                </div>
                <div class="card">
                    <h6>Ayarlar</h6>
                    <ul class="setting-list list-unstyled">
                        <li>
                            <div class="checkbox">
                                <input id="checkbox1" type="checkbox">
                                <label for="checkbox1">Report Panel Usage</label>
                            </div>
                        </li>                        
                    </ul>
                </div>                
            </div> 
        </aside>
        
        <input multiple style="display: none;" name="importRecordFile" id="importRecordFile" type="file" accept=".json">
        
        <router-outlet></router-outlet>
        
        

        <button *ngIf="isESignUserTrue && eSigns.length > 0" 
            alt="e-imza" id="eSignsButton" class="btn btn-primary btn-icon btn-icon btn-lg btn-round" 
            autocomplete="false"
            (click)="eSignControl()" role="tablist">

            <span class="ti-pencil-alt"></span>
        </button>
</body>