<section class="content">   
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h4>Veri Aktarma Yardımcısı</h4>
                <button class="btn btn-secondary btn-sm btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn btn-sm btn-secondary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        
        <div class="form-group" id="data_source_id-group">
            <table class="light-table">
                <tbody>
                    <tr>
                        <td>Veri Kaynağı</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form-element 
                                type="select" [name]="'data_source_id'" 
                                value="" value-json="" 
                                baseUrl="tables/data_source_tbl_relations"
                                class="form-control" [columnName]="'data_source_id'" 
                                placeholder="Veri Kaynağı" 
                                up-column-name="" up-form-id="" srid="">
                            
                            </form-element>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="isElementSelected('data_source_id')" class="form-group" id="data_source_direction_id-group">
            <table class="light-table">
                <tbody>
                    <tr>
                        <td>Veri Akış Yönü</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form-element 
                                type="select" [name]="'data_source_direction_id'" 
                                value="" value-json="" 
                                baseUrl="tables/data_source_tbl_relations"
                                class="form-control" [columnName]="'data_source_direction_id'" 
                                placeholder="Veri Akış Yönü" 
                                up-column-name="" up-form-id="" srid="">
                            
                            </form-element>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="isElementSelected('data_source_id')" class="form-group" id="cron-group">
            <table class="light-table">
                <tbody>
                    <tr>
                        <td>Tekrar (cron)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form-element 
                                type="string" [name]="'cron'" 
                                value="" value-json="" 
                                class="form-control" [columnName]="'cron'" 
                                placeholder="Tekrar (cron)" >
                            
                            </form-element>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="isElementSelected('data_source_direction_id')" class="form-group" id="data_source_rmt_table_id-group">
            <table class="light-table">
                <tbody>
                    <tr>
                        <td>Uzak Tablo</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form-element 
                                type="select" [name]="'data_source_rmt_table_id'" 
                                value="" value-json="" 
                                baseUrl="tables/data_source_tbl_relations"
                                (changed)="remoteTableChanged($event)"
                                class="form-control" [columnName]="'data_source_rmt_table_id'" 
                                placeholder="Uzak Tablo" 
                                upColumnName="data_source_id" up-form-id="" srid="">
                            
                            </form-element>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="isElementSelected('data_source_rmt_table_id') && remoteColumns.length > 0"  class="box box-primary">
            
            <button type="button" class="btn btn-success btn-block" (click)="autoSelectColumns()">
                Otomatik Seçim
            </button>

            <br>

            <table class="table table-bordered table-striped table-hover" style="width: 100%">
                <tbody>
                    <tr *ngFor="let column of columns" [ngStyle]="getColumnTrStyle(column)">
                        <td width="30%">
                            {{ column.display }} ({{ column.source }}, {{ column.gui_type_name }})
                        </td>
                        <td>
                            <select [id]="'remote_'+column.source" class="remoteColumns" style="width: 100%;">
                                <option value="">İlişki yok</option>

                                <option [value]="remoteColumn['id']" *ngFor="let remoteColumn of remoteColumns">
                                    {{ remoteColumn['name'] }} ({{ remoteColumn['type'] }})
                                </option>
                            </select>
                        </td>
                        <td width="40%">
                            <span style="cursor: pointer;margin-right: 10px;"
                                    (click)="cloneColumn(column)"
                                    class="badge badge-primary">

                                Kolonu Kopyala
                            </span>
                            <span *ngIf="columnHasValue(column)"
                                    style="cursor: pointer;margin-right: 10px;"
                                    (click)="removeRelation(column)"
                                    class="badge badge-danger">

                                Seçimi Temizle
                            </span>

                            <span *ngIf="columnHasValue(column) && !columnHasChanger(column)" 
                                style="cursor: pointer;"
                                (click)="addDataChanger(column)" 
                                class="badge badge-warning">

                                Kod Ekle
                            </span>


                            <form-element *ngIf="columnHasChanger(column)" 
                                class="form-control" type="codeeditor:php" value="<?php $data = $data; ?>"
                                [name]="column['source']+'_changer'" [columnName]="column['source']+'_changer'">
                            
                            </form-element>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <button id="save-button" type="button" [class]="'btn btn-primary btn-block ' + (!isDataEntegratable() ? 'disabled' : '')" (click)="save()">
            Veri Aktarımı Başlat
        </button>

    </div>
</section>