<input type="hidden"
(change)="handleChange($event)" 
name="{{ name }}" id="{{ name }}"
value="{{ value }}">

<div (click)="openMapElement()"  
    [class]="showFilterTypesSelect ? 'filter-element-big' : 'filter-element'">
    
    <a [ngStyle]="getStyle()">
        {{ getDescription() }}
    </a>
</div>

<div class="modal fade" id="{{ name }}ElementModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 5px !important;">
                <button id="close" data-dismiss="modal"
                    class="btn btn-primary btn-sm btn-icon" type="button">

                    <i class="zmdi zmdi-close"></i>
                </button>

                <div class="row">
                    <div class="col-8" style="padding:  0 0 0 15px;">
                        <div style="width: 100%; min-height:200px"  id="{{ name }}MapElement"></div>
                        <div style="min-height: 25px;" class="mouse-position" id="mouse-position-{{ name }}MapElement"></div>
                    </div>
                    <div style="font-size: 11px;padding: 0 15px 0 0;" class="col-4" id="{{ name }}RightArea">


                        <button href="javascript:void(0);" class="btn btn-primary btn-icon btn-sm" 
                                                    data-toggle="dropdown" role="button" aria-haspopup="true" 
                                                    aria-expanded="false"> 
                                                    
                                                    <span class="ti-menu-alt"></span> 
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li (click)="showAllColumns()" role="menuitem">
                                                        <a class="dropdown-item">Tümünü Göster</a>
                                                    </li>
                                                    <li (click)="hideAllColumns()" role="menuitem">
                                                        <a class="dropdown-item">Tümünü Gizle</a>
                                                    </li>
                                                    <li class="divider dropdown-divider"></li>
                                                    
                                                    <li 
                                                        *ngFor="let columnName of getObjectKeys(getData('columns'))"
                                                        role="menuitem">

                                                        <a class="dropdown-item" 
                                                            [ngStyle]="{'color': (getColumnVisibility(columnName) ? 'black' : '#ccc')}"
                                                            (click)="toggleColumnVisibility(columnName)">
                                                            
                                                            {{ getData('columns.'+columnName+'.display_name') }}
                                                        </a>
                                                    </li>
                                                </ul>
                        <button class="btn btn-primary btn-sm " 
                            (click)="emitChangedEvent()" type="button">

                            Tamam
                        </button>

                        <div *ngIf="geoJsonObject != null" 
                            class="panel-group" id="accordion_1"
                            role="tablist" aria-multiselectable="true">

                            <div *ngFor="let feature of geoJsonObject; let i = index" class="panel panel-primary">
                                <table class="light-table">
                                    <tr>
                                        <td width="80%">
                                            <button (click)="selectFeature(i)" 
                                                style="height: 25px;"
                                                class="btn btn-sm btn-primary btn-block waves-effect collapsed" 
                                                type="button" data-toggle="collapse" 
                                                [attr.data-target]="'#collapse'+i" aria-expanded="false" 
                                                [attr.aria-controls]="'collapse'+i"> 
                                                
                                                {{ feature.geometry.type }} {{ i+1 }} 
                                            </button>
                                        </td><td>
                                            <button style="height: 25px;" 
                                                class="btn btn-sm btn-danger btn-sm btn-block waves-effect"
                                                (click)="deleteFeature(i)" type="button">

                                                Sil
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                                
                                
                                <div class="collapse" id="collapse{{i}}">
                                    <div *ngIf="feature.geometry.type == 'Polygon'">
                                        <ul>
                                            <li id="coord-{{i}}-{{j}}" *ngFor="let coords of feature.geometry.coordinates[0]; let j = index">
                                                {{ getTransformedCoords(coords) }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select *ngIf="showFilterTypesSelect"
        id="{{ name }}_filter_type" name="{{ name }}_filter_type" style="margin-top: 10px;"
        value="{{ filterType }}"
        class="show-tick ms form-control">
    
        <option value="1">
            Herhangi bir alanla kesişen
        </option>
        <option value="2">
            Tüm alanlarda aynı anda kesişen
        </option>
</select>


