<div class="block-header" style="margin-bottom: 0; padding-bottom: 0;">
    <div class="row">
        <div class="col-12 col-md-6">
            <table class="light-table">
                <tr *ngIf="!lightTable">
                    <td>
                        <h2 (click)="dataReload()" style="cursor: pointer">
                            {{ data['table_info']['display_name'] }}
                        </h2>
                    </td>
                </tr><tr>
                    <td style="padding:5px 0">
                        <span *ngFor="let columnName of params['filterColumnNames']"
                            class="badge badge-danger" 
                            style="margin:2px;cursor: pointer;" >
                            
                            <span style="font-size: 9px;font-weight: bold;" 
                                (click)="clearColumnFilter(columnName)" 
                                class="ti-close">
                            </span>
                            &nbsp;
                            <span 
                                (click)="openDetailFilterModal(columnName)"
                                [innerHTML]="params['filters'][columnName]['description']">
                                    
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-12 col-md-6" style="text-align: right;">
            <table class="light-table" style="width: auto; margin-right: 0; margin-left: auto;">
                <tr>
                    <td>
                        <div 
                            *ngIf="iconVisibility['editMode']"
                            class="checkbox" >
                            
                            <input 
                                (click)="toggleEditMode()" 
                                id="editMode" 
                                type="checkbox" 
                                [checked]="params['editMode']">
                                
                            <label  
                                for="editMode" 
                                style="margin: 1 0; padding: 0 27 0 0; margin-top: -5;">                                    
                            </label>
                        </div>
                    </td>
                    <td>
                        <a *ngIf="iconVisibility['create']"
                            id="create-button"
                            class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                            data-toggle2="tooltip" title="Yeni Ekle" 
                            href="{{ getTablePageBaseUrl()+'create' }}">

                            <span class="ti-plus"></span>
                        </a>
                    </td>
                    <td>
                        <div 
                            *ngIf="!lightTable"
                            class="d-inline-block" 
                            ngbDropdown 
                            #queryColumnsDrop="ngbDropdown">

                            <button
                                (focus)="queryColumnsDrop.open()"
                                ngbDropdownAnchor
                                id="search-button"
                                class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                                data-toggle="dropdown" role="button" aria-haspopup="true" 
                                aria-expanded="false"> 

                                <span class="ti-search" data-toggle2="tooltip" title="Detaylı Arama"></span> 
                            </button>

                            <div 
                                ngbDropdownMenu 
                                aria-labelledby="dropdownManual">

                                <button
                                    *ngFor="let columnName of data['queryColumnNames']"
                                    (click)="openDetailFilterModal(columnName)"
                                    class="dropdown-item"
                                    ngbDropdownItem>

                                    {{ data['query_columns'][columnName]['display_name'] }}
                                </button>                    
                            </div>
                        </div>
                    </td>
                    <td>
                        <div 
                            *ngIf="iconVisibility['download']"
                            class="d-inline-block" 
                            ngbDropdown
                            #downloadListDrop="ngbDropdown">

                            <button
                                (focus)="downloadListDrop.open()"
                                ngbDropdownAnchor
                                id="report-button"
                                class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                                data-toggle="dropdown" role="button" aria-haspopup="true" 
                                aria-expanded="false"> 

                                <span data-toggle2="tooltip" title="Raporlar" class="ti-arrow-down"></span> 
                            </button>

                            <div
                                ngbDropdownMenu 
                                aria-labelledby="dropdownManual">

                                <button
                                    (click)="downloadReport()"
                                    class="dropdown-item"
                                    ngbDropdownItem>

                                    Standart Rapor
                                </button>   
                                
                                <button
                                    *ngFor="let report of reports['table']"
                                    (click)="downloadReport(report)"
                                    class="dropdown-item"
                                    ngbDropdownItem>

                                    {{ report['name'] }}
                                </button>  
                                
                            </div>
                        </div>
                    </td>
                    <td>
                        <a *ngIf="iconVisibility['deleted']"
                            id="delete-button" 
                            class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                            data-toggle2="tooltip" title="Silinmiş Kayıtlar" 
                            href="{{ fullBaseUrl+'deleted' }}"><span class="ti-trash"></span>
                        </a>
                    </td>
                    <td>
                        <button *ngIf="!lightTable" style="z-index: 999;"
                            class="btn btn-sm btn-secondary btn-icon float-right right_icon_toggle_btn"
                            type="button">

                            <i class="zmdi zmdi-arrow-right"></i>
                        </button>

                        <button *ngIf="!lightTable" style="z-index: 999;"
                            class="btn btn-sm btn-secondary btn-icon mobile_menu" 
                            type="button">

                            <i class="zmdi zmdi-sort-amount-desc"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="target-container-fluid" class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card" style="display:grid;">
                            <div class="body" style="padding: 0;">
                                
                                <table 
                                    class="table table-bordered table-striped table-hover" 
                                    role="grid" >
                                    <thead>
                                        <tr *ngIf="data['loaded']" 
                                            cdkDropList 
                                            cdkDropListOrientation="horizontal" 
                                            (cdkDropListDropped)="dropColumn($event)"
                                            role="row">
                                            
                                            <td align="center">                                                
                                                <div 
                                                    class="d-inline-block" 
                                                    ngbDropdown
                                                    #columnVisibilityListDrop="ngbDropdown">

                                                    <button
                                                        (focus)="columnVisibilityListDrop.open()"
                                                        ngbDropdownAnchor
                                                        id="report-button"
                                                        class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                                                        data-toggle="dropdown" role="button" aria-haspopup="true" 
                                                        aria-expanded="false"> 

                                                        <span data-toggle2="tooltip" title="Kolon Gizle/Aç" class="ti-menu-alt"></span> 
                                                    </button>

                                                    <div
                                                        ngbDropdownMenu 
                                                        aria-labelledby="dropdownManual">
                                                        
                                                        <button
                                                            (click)="showAllColumns()"
                                                            class="dropdown-item"
                                                            ngbDropdownItem>

                                                            Tümünü Göster
                                                        </button> 
                                                        
                                                        <button
                                                            (click)="hideAllColumns()"
                                                            class="dropdown-item"
                                                            ngbDropdownItem>

                                                            Tümünü Gizle
                                                        </button>  

                                                        <button
                                                            *ngFor="let columnName of data['columnNames']"
                                                            (click)="toggleColumnVisibility(columnName)"
                                                            class="dropdown-item"
                                                            ngbDropdownItem>

                                                            {{ data['columns'][columnName]['display_name'] }}
                                                        </button>                    
                                                    </div>
                                                </div>
                                            </td>
                                            <td cdkDrag style="cursor: pointer;"
                                                *ngFor="let columnName of params['columnNames']"
                                                (click)="sortByColumn(columnName)">
                                                <table class="light-table">
                                                    <tr>
                                                        <td>
                                                            <b>
                                                                {{ data['columns'][columnName]['display_name'] }}
                                                            </b>
                                                        </td>
                                                        <td 
                                                            *ngIf="data['sorted'][columnName]"
                                                            class="sort-info">
                                                            
                                                            <span> {{ data['sortPriority'][columnName] }} </span>
                                                            
                                                            <span class="ti-arrow-up" *ngIf="params['sorts'][columnName]" ></span>
                                                            <span class="ti-arrow-down" *ngIf="!params['sorts'][columnName]" ></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        
                                        <tr id="filter-tr" *ngIf="data['loaded']">
                                            <td></td>
                                            <td style="padding: 0;" *ngFor="let columnName of params['columnNames']">                            
                                                <table class="light-table">
                                                    <tr>
                                                        <td class="filter-cell" style="width: 99%;">
                                                            <form-element 
                                                                style="display: inline-table;"
                                                                (changed)="filterChanged(columnName, $event)" 
                                                                name="{{ columnName  }}_filter_basic"
                                                                columnName="{{ columnName  }}"
                                                                class="form-control column-filter"
                                                                baseUrl="{{ baseUrl }}"
                                                                type="{{ data['columns'][columnName]['filterTypeName'] }}"
                                                                placeholder="{{ data['columns'][columnName]['display_name'] }}"
                                                                value="{{ data['filterDatas'][columnName] }}"></form-element>                  
                                                        </td>
                                                        <td>&nbsp;</td>
                                                        <td *ngIf="data['columns'][columnName]['filterTypeName'] != 'disable'" 
                                                            class="clear-filter">
                                                            
                                                            <span (click)="clearColumnFilter(columnName)" class="ti-close"></span>
                                                        </td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr 
                                            *ngFor="let record of data['records']; let i = index"
                                            role="row" (contextmenu)="selectRecord($event, record, i)"
                                            [class]="record['recordClass']"> 
                                            <td>                                                
                                                <div 
                                                    *ngIf="iconVisibility['recodOperations']"                                                    
                                                    class="btn-group" 
                                                    ngbDropdown role="group"
                                                    aria-label="Button group with nested dropdown">

                                                    <button
                                                        class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                                                        ngbDropdownToggle> 

                                                        <i class="zmdi zmdi-settings"></i>
                                                    </button>

                                                    <div ngbDropdownMenu>

                                                        <button
                                                            *ngFor="let operation of recordOperations"
                                                            [hidden] = "!record['operations'][operation['type']]"
                                                            (click)="doOperation(operation.type, record)"
                                                            class="dropdown-item"
                                                            ngbDropdownItem>

                                                            <a class="dropdown-item" href="{{ record['operationLinks'][operation['type']] }}">                                                        
                                                                <span style="margin-right: 5px;" [class]="'ti-' + operation.icon"></span>
                                                                {{ operation.display_name }}
                                                            </a>
                                                        </button>

                                                        <button
                                                            *ngFor="let report of reports['record']"
                                                            (click)="downloadReport(report, record['id'])"
                                                            class="dropdown-item"
                                                            ngbDropdownItem>

                                                            <a class="dropdown-item" >                                                        
                                                                <span style="margin-right: 5px;" class="ti-angle-double-down"></span>
                                                                {{ report['name'] }}
                                                            </a>
                                                        </button>
                                                        
                                                        
                                                    </div>
                                                </div>
                                    
                                                <button *ngIf="archiveTable"
                                                    class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                                                    (click)="restore(record)"> 
                                                    
                                                    <span class="ti-reload"></span>
                                                </button>
                                    
                                                <button *ngIf="record['iconVisibility']['userImitation']"
                                                    data-toggle2="tooltip" title="Kullanıcıyı taklit et"
                                                    class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                                                    (click)="userImitation(record)"> 
                                                    
                                                    <span class="ti-user"></span>
                                                </button>
                                                
                                                <button *ngIf="record['iconVisibility']['missionTrigger']"
                                                    data-toggle2="tooltip" title="Görevi tetikle"
                                                    class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                                                    (click)="missionTriggerConfirm(record)"> 
                                                    
                                                    <span class="ti-control-forward"></span>
                                                </button>
                                    
                                                <button *ngIf="iconVisibility['selectAsUpTable'] "
                                                    data-toggle2="tooltip" title="Data aktarma kaydı olarak belirle"
                                                    class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                                                    (click)="selectAsUpTableRecord(record)">
                                                    
                                                    <i class="zmdi zmdi-hc-fw"></i>
                                                </button>
                                    
                                                <button *ngIf="iconVisibility['authWizard']"
                                                    data-toggle2="tooltip" title="Yetki oluşturma yardımcısı"
                                                    class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                                                    (click)="authWizard(record)"> 
                                                    
                                                    <span class="ti-control-shuffle"></span>
                                                </button>
                                    
                                                <button *ngIf="iconVisibility['dataEntegrator']"
                                                    data-toggle2="tooltip" title="Veri Aktarma Yardımcısı"
                                                    class="btn btn-sm float-right btn-primary btn-icon pull-right" 
                                                    (click)="dataEntegrator(record)"> 
                                                    
                                                    <span class="ti-server"></span>
                                                </button>
                                                
                                            </td>
                                            <td 
                                                *ngFor="let columnName of params['columnNames']" 
                                                [class]="record['tdClases'][columnName]">
                                                
                                                <table class="light-table-force">
                                                    <tr>
                                                        <td>
                                                            <div *ngIf="data['columns'][columnName]['guiElementTypeName'] == 'default'" 
                                                                [innerHTML]="record['convertedDatasForGui'][columnName]" 
                                                                innerHtmlTransformer></div>

                                                            <div *ngIf="data['columns'][columnName]['guiElementTypeName'] == 'file'">
                                                                
                                                                <span *ngFor="let fileUrl of record['fileUrls'][columnName]">                                                                    
                                                                    <a *ngIf="fileUrl['isImage']"
                                                                        data-fancybox="gallery"
                                                                        href="{{ fileUrl['big'] }}" >

                                                                        <img class='rounded-circle file-preview' src="{{ fileUrl['small'] }}">
                                                                    </a>

                                                                    <a target="_blank" *ngIf="!fileUrl['isImage']" href="{{ fileUrl['org'] }}">

                                                                        <img 
                                                                            class='rounded-circle file-preview' 
                                                                            src="{{ fileUrl['iconUrl'] }}">
                                                                    </a>
                                                                </span>                                                                                                                           
                                                            </div>
                                                            
                                                            <boolean-fastchange-element
                                                                *ngIf="data['columns'][columnName]['guiElementTypeName'] == 'boolean:fastchange'"
                                                                value="{{ record[columnName] }}"
                                                                name="{{ columnName }}"
                                                                recordJson="{{ record['json'] }}"
                                                                (change)="booleanFastChanged($event, record, columnName)">
                                                            </boolean-fastchange-element >
                                                            
                                                            <geo-preview-element 
                                                                *ngIf="data['columns'][columnName]['guiElementTypeName'] == 'geo'" 
                                                                name="{{ columnName }}"
                                                                type="{{ data['columns'][columnName]['gui_type_name'] }}"
                                                                srid="{{ data['columns'][columnName]['srid'] }}"
                                                                wkt="{{ record[columnName] }}">
                                                            </geo-preview-element>
                                                            
                                                            <relation-column-element 
                                                                *ngIf="data['columns'][columnName]['guiElementTypeName'] == 'relation'"
                                                                type="{{ data['columns'][columnName]['gui_type_name'] }}"
                                                                name="{{ columnName }}"
                                                                relationJson = "{{ data['columns'][columnName]['relationJson'] }}"
                                                                recordJson="{{ record['json'] }}" >

                                                            </relation-column-element>
                                                            
                                                            <jsonviewer-element 
                                                                *ngIf="data['columns'][columnName]['guiElementTypeName'] == 'jsonviewer'" 
                                                                type="{{ data['columns'][columnName]['gui_type_name'] }}"
                                                                placeholder="{{ data['columns'][columnName]['display_name'] }}"
                                                                value="{{ record[columnName] }}"
                                                                name="{{ columnName }}"
                                                                recordJson="{{ record['json'] }}"
                                                                [readOnly]="true"                                                              
                                                                [newPage]="true">                                                                    
                                                            </jsonviewer-element> 
                                                            
                                                         </td><td align="right">
                                                            <span style="cursor: pointer;visibility: hidden;"
                                                                    *ngIf="this.params['editMode']" 
                                                                    (click)="editRecodData(record, columnName)"
                                                                    class="ti-pencil-alt2 edit-button"></span>
                                                        </td>
                                                    </tr>                                                    
                                                </table>
                                            </td>
                                        </tr>
                                        <tr *ngIf="data['records'].length == 0">
                                            <td 
                                                style="text-align: center;font-size: 20px;"
                                                colspan="300">
                                                
                                                Kayıt Yok
                                            </td>
                                        </tr>
                                        <tr 
                                            *ngIf="data['records'].length > 0"
                                            role="row" 
                                            class="odd operations"
                                            >

                                            <td></td>
                                            <td *ngFor="let columnName of params['columnNames']">
                                                <b [innerHTML]="data['collectiveInfosHtml'][columnName]"></b>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <table *ngIf="true || data['records'].length > 0" class="light-table">
                                    <tr>
                                        <td>
                                            <table style="padding: 0; margin: 0;">
                                                <tr>
                                                    <td>&nbsp;Sayfada Kayıt:</td>
                                                    <td>
                                                        <select class="form-control ms"
                                                            style="width: 60px; height: 26px; padding: 0 5px; margin: 7px;" 
                                                            value="{{ params['limit'] }}"
                                                            (change)="limitUpdated($event.target.value)" >
                                                        <option value="{{ p }}" *ngFor="let p of [1, 2, 3, 5, 10, 15, 25, 100]">
                                                            {{ p }}
                                                        </option>
                                                    </select> 
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="right">
                                            <table class="pull-right"><tr><td>
                                                <button *ngIf="params['page'] > 1" class="btn btn-primary btn-sm" 
                                                    style="width: 60px !important; height: 26px; padding: 0 5px; white-space: nowrap;" 
                                                    aria-expanded="true" (click)="prevPage()">
                                                    Önceki
                                                </button>
                                            </td><td style="padding: 0px !important;">
                                                <select *ngIf="data['pages'] > 1"
                                                        style="width: 60px; height: 26px; padding: 0 5px; margin: 3px;" 
                                                        class="form-control ms"
                                                        [value]="params['page']"
                                                        (change)="pageUpdated($event.target.value)" >
                                                    <option value="{{ p }}" *ngFor="let p of generalHelper.getRange(data['pages'])">
                                                        {{ p }}
                                                    </option>
                                                </select>
                                            </td><td>
                                                <button *ngIf="params['page'] < data['pages'] " class="btn btn-primary btn-sm" 
                                                    style="width: 60px !important; height: 26px; padding: 0 5px; white-space: nowrap;" 
                                                    aria-expanded="true" (click)="nextPage()">
                                                    Sonraki
                                                </button>
                                            </td></tr></table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div *ngIf="selectedFilter != null" 
    class="modal fade"
    id="detailFilterModal"
    tabindex="-1" role="dialog"
    aria-labelledby="detailFilterModalLabel" 
    aria-hidden="true">
    
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailFilterModalTitle">
                    {{ data['columns'][selectedFilter['columnName']]['display_name'] }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <detail-filter-element 
                displayName="{{ data['columns'][selectedFilter['columnName']]['display_name'] }}"                                                                
                filterJson="{{ selectedFilter['json'] }}"
                (changed)="detailFilterChanged($event)"
                baseUrl="{{ baseUrl }}" >
            </detail-filter-element>
        </div>
    </div>
</div>

<div class="modal fade" id="mapPreviewModal" tabindex="-1" role="dialog" aria-labelledby="mapPreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 5px !important;">
                <div style="width: 100%; min-height: 200px;"  id="mapPreview"></div>
                <div id="mouse-position-mapPreview" class="mouse-position"></div>
                
                <button id="close" data-dismiss="modal"
                    class="btn btn-primary btn-sm btn-icon" type="button">

                    <i class="zmdi zmdi-close"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div 
    class="modal fade" 
    id="{{ inFormElementId }}inFormModal" 
    role="dialog" 
    [attr.aria-labelledby]="inFormTableName+'inFormModalLabel'" 
    aria-hidden="true">
    
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0px !important;">
                <in-form-element  
                    *ngIf="inFormTableName.length > 0"
                    id="{{ inFormElementId }}" 
                    (formSaved)="inFormSavedSuccess($event)"
                    singleColumn="true"
                    inFormTableName="{{ inFormTableName }}"
                    inFormColumnName="{{ inFormColumnName }}" 
                    inFormRecordId="{{ inFormRecordId }}">
                
                </in-form-element>
                <button class="btn btn-danger btn-block" 
                    style="position: absolute; margin: -35 20 0 20; width: -webkit-fill-available;"
                    (click)="closeModal(inFormElementId+'inFormModal')"
                    type="button">İptal
                </button>
            </div>
        </div>
    </div>
</div>