@media (max-width: 576px) 
{
  #search-button 
  {
    position: fixed;
    top: 10;
    right: 50;
  }

  .table-bordered td, .table-bordered th 
  {
      padding: 5px;
      vertical-align: middle;
  }

  .clear-filter
  {
    padding: 0 0 0 5px !important;
  }

  #filter-tr
  {
    display: none !important;
  }
}

#filter-tr
{
  display: contents;
}

.cdk-drag-preview 
{
  padding: 7px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

button.btn-sm
{
  padding: 0;
  margin: 1px;
  width: 25px !important;
  min-width: 25px !important;
  height: 25px !important;
  min-height: 25px !important;

  span
  {
    padding: 0;
    margin: 0;
    font-size: 13px;
  }
}

a.btn
{
    padding: 0!important;
    margin: 1px !important;
    width: 25px !important;
    min-width: 25px !important;
    height: 25px !important;
    min-height: 25px !important;
    padding-top: 5 !important;
    
    span
    {
      padding: 0 !important;
      margin: 0 !important;
      font-size: 13px !important;
    }
}

form-element
{
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.dropdown-menu
{
  li
  {
    a
    {
      font-size: 12px !important;
      padding: 2px 0 2px 5px !important;
    }
  }
}

.column-visibility li
{
  cursor: pointer;
}

.light-table
{
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;

  tr
  {
    padding: 0;
    margin: 0;
    border: 0;

    td.sort-info
    {
      text-align: right;
      font-size: 11px;
      
      span
      {
        font-size: 11px;
      }
    }

    td.clear-filter
    {
      padding: 12px 3px 0 3px;
      text-align: right;
      
      span
      {
        font-size: 11px;
        cursor: pointer;
      }
    }

    td
    {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}

.light-table-force
{
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  background-color: transparent !important;

  tr
  {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    background-color: transparent !important;

    td
    {
      padding: 0 !important;
      margin: 0 !important;
      border: 0 !important;
      background-color: transparent !important;
    }
  }
}
  
.selected-row
{
  background-color: aqua !important;
}

.edit-td:hover
{
  span.edit-button
  {
    visibility: visible !important;
  }
}

.data-transport
{
    background-color: #ffffe0 !important;
}