<div style="width: 100%; min-height: 100%;"  id="fullScreenMap"></div>



<button (click)="zoomIn()" class="btn btn-sm btn-primary btn-icon" type="button" id="zoom-in-button">
    <span style="font-size: 12px;" class="ti-plus" ></span>
</button>
<button (click)="zoomOut()" class="btn btn-sm btn-primary btn-icon" type="button" id="zoom-out-button">
    <span style="font-size: 12px;" class="ti-minus" ></span>
</button>

<div id="loading" *ngIf="loading">
    <span><b>Yükleniyor...</b></span>
</div>



<div id="tools-bar" [hidden]="!toolsBarVisible">
    <table id="light-table" style="width: 100%">
        <tr>
            <td width="5px">
                
                <div 
                    [hidden]="drawingInteraction"                                                   
                    class="btn-group" 
                    ngbDropdown role="group"
                    aria-label="Button group with nested dropdown">

                    <button
                        class="btn btn-sm float-right btn-primary pull-right" 
                        id="drawButton"  
                        ngbDropdownToggle> 

                        Ekle
                    </button>

                    <div ngbDropdownMenu>
                        <a 
                            (click)="drawStart('Point')"
                            class="dropdown-item"
                            ngbDropdownItem>
                            
                            Nokta
                        </a>    
                        <a 
                            (click)="drawStart('Point', true)"
                            class="dropdown-item"
                            ngbDropdownItem>
                            
                            Noktalar
                        </a>  
                        <a 
                            (click)="drawStart('LineString')"
                            class="dropdown-item"
                            ngbDropdownItem>
                            
                            Çizgi
                        </a>    
                        <a 
                            (click)="drawStart('LineString', true)"
                            class="dropdown-item"
                            ngbDropdownItem>
                            
                            Çizgiler
                        </a>  
                        <a 
                            (click)="drawStart('Polygon')"
                            class="dropdown-item"
                            ngbDropdownItem>
                            
                            Alan
                        </a>    
                        <a 
                            (click)="drawStart('Polygon', true)"
                            class="dropdown-item"
                            ngbDropdownItem>
                            
                            Alanlar
                        </a>    
                        <div class="divider"></div>
                        <a 
                            class="dropdown-item"
                            ngbDropdownItem>
                            
                            NetCAD 'den al
                        </a>  
                    </div>
                </div>

                <button [hidden]="drawingInteraction == null" class="btn btn-sm btn-primary" 
                    type="button" (click)="drawEnd()" id="drawEndButtom" >
        
                    Çizimi Bitir
                </button>
            </td>
            <td width="5000px">

            </td>
            <td *ngIf="netcadAuthControl() && !isMobileDevice()" width="5px">
                <button (click)="addNetcadFeatures()" class="btn btn-sm btn-primary" type="button">
                    Netcad 'den Yükle  
                </button>
            </td>
            <td *ngIf="kmzAuthControl() && !isMobileDevice()" width="5px">
                <button (click)="selectKmzFile()" class="btn btn-sm btn-primary" type="button">
                    KMZ Yükle   
                </button>
            </td>
            <td>

            </td><td align="right">
                <button (click)="setToolsBarVisible(false)" class="btn btn-sm btn-secondary" type="button">
                    &nbsp;X&nbsp;    
                </button>
            </td>
        </tr>
    </table>
</div>



<div [hidden]="!featuresTreeVisible" id="feature-tree">
    <table class="light-table">
        <tr>
            <td>
                <h6 style="padding: 0; margin: 5 0 5 10;">Nesneler</h6>
            </td>
            <td width="65px" align="right">
                <button (click)="dataTransport()" [class]="'btn btn-sm btn-primary ' + (isUpTableRecordSelected() ? '' : ' disabled')" type="button">
                    Data Aktar  
                </button>
            </td>
            <td width="5px" align="right">
                <button style="margin-right: 3px;" 
                    (click)="setFeaturesTreeVisible(false)" 
                    class="btn btn-sm btn-secondary" type="button">
                    &nbsp;X&nbsp;    
                </button>
            </td>
        </tr>
    </table>
    
    <hr style="margin: 0 0 3 0;">

    <div style="height: 310px !important;overflow-y: auto !important;">
        <div *ngFor="let className of getClassNames()">
            <div style="padding: 3px; background-color: bisque;border: 1px solid #ccc;">
                <table class="light-table">
                    <tr>
                        <td>{{ className }}</td>
                        <td align="right">
                            <button style="margin-right: 1px;margin: 0px !important;border-radius: 6px;" 
                                (click)="selectAllFeatureInClass(className)" 
                                class="btn btn-sm btn-primary" type="button"
                                [hidden]="!vectorFeaturesTree[className]['visible']" >
                                
                                <i class="zmdi zmdi-hc-fw"></i>    
                            </button>
                                            
                            <button style="margin-right: 2px;margin: 0px !important;border-radius: 6px;" 
                                (click)="toogleClassVisible(className)" 
                                [class]="'btn btn-sm btn-' + (vectorFeaturesTree[className]['visible'] ? 'primary' : 'secondary')" type="button">
                                
                                <i [hidden]="vectorFeaturesTree[className]['visible']" class="zmdi zmdi-hc-fw"></i>

                                <i [hidden]="!vectorFeaturesTree[className]['visible']" class="zmdi zmdi-hc-fw"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="padding-left: 10px;" *ngIf="vectorFeaturesTree[className]['visible']">
                
                
                



                <div *ngFor="let subClassName of getSubClassNames(className)">
                    <div style="padding: 3px; background-color: aquamarine;border:1px solid #81eac8">
                        <table class="light-table">
                            <tr>
                                <td>{{ subClassName }}</td>
                                <td align="right">
                                    <button style="padding: 0;margin-right: 1px;margin: 0px !important;border-radius: 6px;" 
                                        (click)="selectAllFeatureInSubClass(className, subClassName)" 
                                        class="btn btn-sm btn-primary" type="button"
                                        [hidden]="!vectorFeaturesTree[className]['data'][subClassName]['visible']" >
                                        
                                        <i class="zmdi zmdi-hc-fw"></i>    
                                    </button>
                                            
                                    <button style="padding: 1;margin-right: 2px;margin: 0px !important;border-radius: 6px;" 
                                        (click)="toogleSubClassVisible(className, subClassName)" 
                                        [class]="'btn btn-sm btn-' + (vectorFeaturesTree[className]['data'][subClassName]['visible'] ? 'primary' : 'secondary')" type="button">
                                        
                                        <i [hidden]="vectorFeaturesTree[className]['data'][subClassName]['visible']" class="zmdi zmdi-hc-fw"></i>
        
                                        <i [hidden]="!vectorFeaturesTree[className]['data'][subClassName]['visible']" class="zmdi zmdi-hc-fw"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="padding-left: 20px;" *ngIf="vectorFeaturesTree[className]['data'][subClassName]['visible']">
                        
        
        
        
        
                        

                        <div *ngFor="let typeName of getTypeNames(className, subClassName)">
                            <div style="padding: 3px; background-color: lavender;border: 1px solid #ccc;">
                                <table class="light-table">
                                    <tr>
                                        <td>{{ typeName }}</td>
                                        <td align="right">
                                            <button style="padding: 0;margin-right: 1px;margin: 0px !important;border-radius: 6px;" 
                                                (click)="selectAllFeatureInType(className, subClassName, typeName)" 
                                                class="btn btn-sm btn-primary" type="button"
                                                [hidden]="!vectorFeaturesTree[className]['data'][subClassName]['data'][typeName]['visible']" >
                                                
                                                <i class="zmdi zmdi-hc-fw"></i>    
                                            </button>

                                            <button style="padding: 0;margin-right: 1px;margin: 0px !important;border-radius: 6px;" 
                                                (click)="toogleTypeVisible(className, subClassName, typeName)" 
                                                [class]="'btn btn-sm btn-' + (vectorFeaturesTree[className]['data'][subClassName]['data'][typeName]['visible'] ? 'primary' : 'secondary')" type="button">
                                                
                                                <i [hidden]="vectorFeaturesTree[className]['data'][subClassName]['data'][typeName]['visible']" class="zmdi zmdi-hc-fw"></i>
                
                                                <i [hidden]="!vectorFeaturesTree[className]['data'][subClassName]['data'][typeName]['visible']" class="zmdi zmdi-hc-fw"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="padding-left: 24px;" *ngIf="vectorFeaturesTree[className]['data'][subClassName]['data'][typeName]['visible']">
                                


                                <div *ngFor="let feature of getFeatures(className, subClassName, typeName); let i = index"
                                    (click)="toggleFeatureSelected(className, subClassName, typeName, i)"
                                    [class]="'feature-item ' + (feature['selected'] ? 'feature-item-selected' : '') ">

                                    {{ feature['selected'] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div 
    [hidden]="drawingInteraction"                                                   
    class="btn-group" 
    id="menu-button"
    ngbDropdown role="group"
    aria-label="Button group with nested dropdown">

    <button
        class="btn btn-icon btn-sm float-right btn-primary pull-right" 
        id="drawButton"  
        ngbDropdownToggle> 

        <span style="font-size: 15px;" class="ti-menu" ></span>
    </button>

    <div ngbDropdownMenu>
        <a 
            href="{{ getHomePageUrl() }}"
            class="dropdown-item"
            ngbDropdownItem>
            
            Anasayfa
        </a>    
        <div class="dropdown-divider"></div>
        <a 
            (click)="showSearchPanel()"
            class="dropdown-item"
            ngbDropdownItem>
            
            Arama Yap <span class="shortcut">Alt+A</span>
        </a>  
        <div class="dropdown-divider"></div>
        <a 
            (click)="showLayersPanel()"
            class="dropdown-item"
            ngbDropdownItem>
            
            Katmanlar <span class="shortcut">Alt+K</span>
        </a>    
        <a 
            (click)="setToolsBarVisible(true)" 
            class="dropdown-item"
            ngbDropdownItem>
            
            Araç Çubuğu <span class="shortcut">Alt+C</span>
        </a>  
        <a 
            [hidden]="isVectorFeaturesTreeNull()"
            (click)="setFeaturesTreeVisible(true)" 
            class="dropdown-item"
            ngbDropdownItem>
            
            Nesne Ağacı <span class="shortcut">Alt+N</span>
        </a> 
    </div>
</div>



<div id="mouse-position-fullScreenMap" class="mouse-position"></div>



<div class="modal fade" id="layersModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 350px;">
        <div class="modal-content">
            <div class="modal-body" style="padding: 5px !important;">
                <h5 style="padding: 5; margin: 0; text-align: center;">Katmanlar</h5>
                <hr style="margin-top: 0;">

                <input 
                    class="form-control" 
                    type="text" 
                    name="filter" 
                    id="filter" 
                    (change)="layerFilterChanged()"
                    [(ngModel)]="layerFilterString"
                    style="background-color: white; max-width: 350px;margin: auto;margin-bottom: 15px"
                    placeholder="Arama">
                
                <div cdkDropListGroup>
                    <div class="dragdrop-container">
                        <div
                            cdkDropList 
                            cdkDropListData="layers"
                            class="dragdrop-list"
                            (cdkDropListDropped)="layerChanged($event)">
                
                            <div 
                                [attr.source]="layer['display_name']"
                                class="dragdrop-box" 
                                *ngFor="let layer of layers" 
                                cdkDrag>
                                <table width="100%">
                                    <tr>
                                        <td>{{ layer['display_name'] }}</td>
                                        <td width="20">
                                            <span 
                                                style="cursor:pointer"
                                                (click)="showLegend(layer)"
                                                class="badge badge-sm badge-warning">

                                                <i style="font-size: 10px;" class="zmdi zmdi-label-heart"></i>
                                            </span>
                                        </td>
                                        <td width="20">
                                            <span 
                                                style="cursor:pointer"
                                                (click)="changeLayerVisibility(layer)"
                                                [class]="'badge badge-sm badge-' + (layer.getVisible() ? 'warning' : 'default' )">

                                                <i style="font-size: 11px;" *ngIf="layer.getVisible()" class="zmdi"></i>
                                                <i style="font-size: 11px;" *ngIf="!layer.getVisible()" class="zmdi"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <select class="form-control" (change)="changeBaseLayer($event)" value="{{ getSelectedBaseLayerIndex() }}">
                    <option *ngFor="let baseLayer of getBaseLayers(); let i = index" [attr.value]="i">
                        {{ baseLayer['display_name'] }}
                    </option>
                </select>
               
            </div>
        </div>
    </div>
</div>

<input style="display: none;" name="kmzFile" id="kmzFile" type="file" accept=".kmz,.kml">
    
<div class="modal fade" id="{{ inFormElementId }}inFormModal" role="dialog" [attr.aria-labelledby]="inFormTableName+'inFormModalLabel'" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0px !important;">
                <in-form-element  
                    *ngIf="inFormTableName.length > 0"
                    id="{{ inFormElementId }}" 
                    (formSaved)="inFormSavedSuccess($event)"
                    (formLoad)="inFormLoaded($event)"
                    [inFormIsDataTransport]="true"
                    inFormDataTransportSelectOptionsJson="{{ convertToJson(inFormSelectDataForColumn) }}"
                    inFormTableName="{{ inFormTableName }}"
                    inFormColumnName="record_id" 
                    inFormRecordId="{{ inFormRecordId }}">
                
                </in-form-element>
                <button class="btn btn-danger btn-block" 
                    style="position: absolute; margin: -35 20 0 20; width: -webkit-fill-available;"
                    (click)="closeModal(inFormElementId+'inFormModal')"
                    type="button">İptal
                </button>
            </div>
        </div>
    </div>
</div>
    
<div class="modal fade" id="featureListTableModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Tıkladığınız noktadaki nesneler</h3>
                
                <table class="table table-bordered table-striped table-hover" role="grid" >
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tablo</th>
                            <th>Kayıt ID</th>
                            <th>Özet</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let tableName of getKeys(featureList)">
                        <tr *ngFor="let recId of getKeys(featureList[tableName]['records'])">
                            
                            <td>
                                <a 
                                    class="btn btn-sm btn-primary"
                                    data-toggle="tooltip" title="Detay"
                                    (click)="showFeatureInfoPage(featureList[tableName]['records'][recId])">
                                    
                                    <i class="zmdi zmdi-info-outline"></i>
                                </a>
                                <a 
                                    class="btn btn-sm btn-primary"
                                    data-toggle="tooltip" title="Odaklan" 
                                    (click)="zoomToFeature(featureList[tableName]['records'][recId]['feature'])">
                                    
                                    <i class="zmdi zmdi-center-focus-weak"></i>
                                </a>
                            </td>
                            <td>{{ featureList[tableName]['display_name'] + " (" + tableName + ")" }}</td>
                            <td>{{ recId }}</td>
                            <td style="font-size: 10px">
                                <span
                                *ngFor="let columnName of getKeys(featureList[tableName]['records'][recId]['data'])"
                                [hidden]="columnName.substr(0, 1) == '_' || getSummary(featureList[tableName]['records'][recId]['data'][columnName]) == null">
                                    
                                    <span style="padding: 2px; margin: 2px 5px 2px 2px;"
                                        class="badge badge-primary">

                                        <b>
                                            {{ getColumnDisplayName(tableName, columnName) }} :
                                        </b>
                                        &nbsp;
                                        {{ getSummary(featureList[tableName]['records'][recId]['data'][columnName]) }} 
                                    </span>
                                    
                                    
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
<div 
    *ngIf="lastSelectedFeatureType('external')" 
    class="modal fade" id="externalFeatureInfoModal" 
    role="dialog" aria-hidden="true">
    
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Detay Bilgiler</h3>
                
                <table class="table table-bordered table-striped table-hover" role="grid" >
                    <tbody>
                        <tr *ngFor="let columnName of getKeys(lastSelectedFeatureData['data'])">
                            <th>{{ columnName }}</th>
                            <td>{{ lastSelectedFeatureData['data'][columnName] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
<div 
    *ngIf="lastSelectedFeatureType('default')" 
    class="modal fade" id="defaultFeatureInfoModal" 
    role="dialog" aria-hidden="true">
    
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0">
                <in-show-element
                    id="{{ lastSelectedFeatureData['data']['id'] }}"
                    inShowTableName="{{ lastSelectedFeatureData['tableName'] }}" >
                </in-show-element>
            </div>
        </div>
    </div>
</div>
    
<div [hidden]="!showLegendPanel" class="legendPanel">
    <img src="{{ legendUrl }}">
    
    <!--<span 
        (click)="closeLegendPanel()"
        class="badge badge-sm badge-primary closeLegentPanelButton">

        <i style="font-size: 11px;" class="zmdi"></i>
    </span>-->
</div>