<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2 *ngIf="!isDashboardDataNull()" >Göstergeler</h2>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h1 *ngIf="isDashboardDataNull()" style="text-align: center;">
            Hiçbir gösterge paneliniz yok
        </h1>

        <div *ngFor="let dashboardClass of getSortedDashboardClass()">
            <div *ngIf="dashboardClass == 'RecordCount'" class="row clearfix">
                <div *ngFor="let dashboardItemName of getDashboardsByClassName(dashboardClass)" class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon data">
                        <div class="body">
                            <h6>{{ dashboardDatas[dashboardClass][dashboardItemName]['table_display_name']  }}</h6>
                            <h2> {{ dashboardDatas[dashboardClass][dashboardItemName]['count']  }}<small class="info"> kayıt</small></h2>
                            <small>Toplam kayıt sayısının %{{ getRecordCountPercent(dashboardDatas[dashboardClass][dashboardItemName]) }} 'i</small>
                            <div class="progress">
                                <div 
                                    class="progress-bar l-blue" role="progressbar" 
                                    [attr.aria-valuenow]="getRecordCountPercent(dashboardDatas[dashboardClass][dashboardItemName]) * 10" 
                                    aria-valuemin="0" aria-valuemax="100"  
                                    [ngStyle]="{'width': (getRecordCountPercent(dashboardDatas[dashboardClass][dashboardItemName])*10)+'px'}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>