<input 
value="{{ val }}" 
name="{{ name }}" id="{{ name }}"
style="display: none;">
    

    
    
    
    
    
    
<div class="input-group masked-input">
    <div class="input-group-prepend">
        <span class="input-group-text" 
            style="font-size: 12 !important; padding: 2 !important;height: 25 !important; margin: 5 0 0 10 !important;">
            
            {{ unit }}
        </span>
    </div>
    
    <input 
    value="{{ val }}" 
    class="{{ class }}"        
    placeholder="{{ placeholder }}"        
    name="{{ name }}-display" id="{{ name }}-display">
</div>
    
    

<select *ngIf="showFilterTypesSelect"
    id="{{ name }}_filter_type" name="{{ name }}_filter_type" style="margin-top: 10px;"
    value="{{ filterType }}"
    class="show-tick ms form-control">
    
    <option value="1">
        ==
    </option>
    <option value="2">
        !=
    </option>
    <option value="3">
        <
    </option>
    <option value="4">
        >
    </option>
</select>