<h5 *ngIf="columnArray['name'] != ''" style="margin: 25px 0 10px 0">                            
    <strong>{{ columnArray['name'] }}</strong>
</h5>

<table *ngIf="columnArray['tree'].length == 0" width="100%" class="table table-hover">
    <tbody>
        <tr *ngFor="let columnName of columnArray['columnNames']">
            <th class="title">
                {{ columnArray['columns'][columnName]['display_name'] }}
            </th>
            
            <td *ngIf="columnArray['columns'][columnName]['columnType'] == 'default'" 
                [innerHtml]="columnArray['columns'][columnName]['innerHtml']" 
                innerHtmlTransformer>
                
            </td>
            
            <td *ngIf="columnArray['columns'][columnName]['columnType'] == 'relation'">
                <relation-column-element 
                    type="{{ columnArray['columns'][columnName]['gui_type_name'] }}"
                    name="{{ columnName }}"
                    tableName="{{ tableName }}"
                    relationJson = "{{ columnArray['columns'][columnName]['relationJson']  }}"
                    recordJson="{{ recordJson }}" >

                </relation-column-element>
            </td>
            
            <td *ngIf="columnArray['columns'][columnName]['columnType'] == 'file'">
                <span *ngFor="let fileUrl of columnArray['columns'][columnName]['fileUrls']">                                                                    
                    <a *ngIf="fileUrl['isImage']"
                        data-fancybox="gallery"
                        href="{{ fileUrl['big'] }}" >

                        <img class='rounded-circle file-preview' src="{{ fileUrl['small'] }}">
                    </a>

                    <a target="_blank" *ngIf="!fileUrl['isImage']" href="{{ fileUrl['org'] }}">

                        <img 
                            class='rounded-circle file-preview' 
                            src="{{ fileUrl['iconUrl'] }}">
                    </a>
                </span>                                                                                                                             
            </td>
            
            <td *ngIf="columnArray['columns'][columnName]['columnType'] == 'geo'">
                <geo-preview-element 
                    name="{{ columnName }}"
                    type="{{ columnArray['columns'][columnName]['gui_type_name'] }}"
                    srid="{{ columnArray['columns'][columnName]['srid'] }}"
                    wkt="{{ record[columnName] }}">
                </geo-preview-element>
            </td>
            
            <td *ngIf="columnArray['columns'][columnName]['columnType'] == 'boolean:fastchange'">
                <boolean-fastchange-element
                    value="{{ record[columnName] }}"
                    name="{{ columnName }}"
                    recordJson="{{ recordJson }}">
                </boolean-fastchange-element>
            </td>
            
            <td *ngIf="columnArray['columns'][columnName]['columnType'] == 'jsonviewer'">
                <jsonviewer-element 
                    type="{{ columnArray['columns'][columnName]['gui_type_name'] }}"
                    placeholder="{{ columnArray['columns'][columnName]['display_name'] }}"
                    value="{{ record[columnName] }}"
                    name="{{ columnName }}"
                    recordJson="{{ recordJson }}"
                    [readOnly]="true" ></jsonviewer-element>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="columnArray['tree'].length > 0" id="relation-data-{{ columnArray['id'] }}">
    <table [hidden]="relationTableLoaded" width="100%">
        <tr>
            <td align="center">
                <img src="assets/img/loading.gif">
            </td>
        </tr>
    </table>
    <data-table-element [hidden]="!relationTableLoaded"
        (dataChanged)="relationTableDataChanged($event)" 
        baseUrl="{{ columnArray['baseUrlForRelationDataTable'] }}"
        lightTable = "true" tableName="tree:{{ columnArray['tree'] }}"
        defaultLimit="{{ defaultLimit }}">
    </data-table-element>
</div>

<div class="modal fade" id="mapPreviewModal" tabindex="-1" role="dialog" aria-labelledby="mapPreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 5px !important;">
                <div style="width: 100%; min-height: 200px;"  id="mapPreview"></div>
                <div id="mouse-position-mapPreview" class="mouse-position"></div>
                
                <button id="close" data-dismiss="modal"
                    class="btn btn-primary btn-sm btn-icon" type="button">

                    <i class="zmdi zmdi-close"></i>
                </button>
            </div>
        </div>
    </div>
</div>