<h5 *ngIf="getDataFromColumnArray('name') != null && getDataFromColumnArray('name').length != 0" style="margin: 25px 0 10px 0">                            
    <strong>{{ getDataFromColumnArray('name') }}</strong>
</h5>
<table *ngIf="!columnArrayIsRelationTable(columnArray)" width="100%" class="table table-hover">
    <tbody>
        <tr *ngFor="let columnName of getColumnNamesFromColumnArray(columnArray)">
            <th class="title">
                {{ getDataFromColumnArray('columns.'+columnName+'.display_name') }}
            </th>
            <td *ngIf="!isGeoColumn(columnName) && !isFileColumn(columnName) && !isJsonViewerColumn(columnName)" 
                [style.cursor]="getCursorStyleForDataColumn(columnName)"
                [innerHtml]="getConvertedDataForGuiByColumnName(columnName)" innerHtmlTransformer>
            </td>
            
            <td *ngIf="isFileColumn(columnName)">
                <span *ngFor="let i of getObjectKeys(getFileUrls(record[columnName]))">                                                                    
                    <a  data-fancybox="gallery" *ngIf="isImageFile(getFileUrls(record[columnName])[i])"
                        href="{{ getFileUrls(record[columnName])[i]['big'] }}" >

                    <img class='rounded-circle file-preview' src="{{ getFileUrls(record[columnName])[i]['small'] }}">
                    </a>

                    <a target="_blank" *ngIf="!isImageFile(getFileUrls(record[columnName])[i])"
                        href="{{ getFileUrls(record[columnName])[i]['org'] }}"
                        >

                    <img 
                        class='rounded-circle file-preview' 
                        src="{{ getFileIconUrl(getFileUrls(record[columnName])[i]['org']) }}">
                    </a>
                </span>                                                                                                                             
            </td>
            
            <td *ngIf="isGeoColumn(columnName)">
                <geo-preview-element 
                    *ngIf="isGeoColumn(columnName)" 
                    name="{{ columnName }}"
                    type="{{ getDataFromColumnArray('columns.'+columnName+'.gui_type_name') }}"
                    srid="{{ getDataFromColumnArray('columns.'+columnName+'.srid') }}"
                    wkt="{{ this.getDataFromRecord(columnName) }}">
                </geo-preview-element>
            </td>
            <td *ngIf="isJsonViewerColumn(columnName)">
                <jsonviewer-element *ngIf="isJsonViewerColumn(columnName)" 
                    type="{{ getDataFromColumnArray('columns.'+columnName+'.gui_type_name') }}"
                    placeholder="{{ getDataFromColumnArray('columns.'+columnName+'.display_name') }}"
                    value="{{ this.getDataFromRecord(columnName) }}"
                    name="{{ columnName }}"
                    recordJson="{{ getJsonStrFromObject(record) }}"
                    [readOnly]="true"                                                                
                    class="{{ class }}"></jsonviewer-element>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="columnArrayIsRelationTable(columnArray)" id="relation-data-{{ getDataFromColumnArray('id') }}">
    <table [hidden]="relationTableIsLoaded(columnArray)" width="100%">
        <tr>
            <td align="center">
                <img src="assets/img/loading.gif">
            </td>
        </tr>
    </table>
    <data-table-element [hidden]="!relationTableIsLoaded(columnArray)"
        (dataChanged)="relationTableDataChanged(columnArray, $event)" 
        baseUrl="{{ getBaseUrlByColumnArray(columnArray) }}"
        lightTable = "true" tableName="tree:{{ columnArray.tree }}"
        defaultLimit="{{ defaultLimit }}">
    </data-table-element>
</div>

<div class="modal fade" id="mapPreviewModal" tabindex="-1" role="dialog" aria-labelledby="mapPreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 5px !important;">
                <div style="width: 100%; min-height: 200px;"  id="mapPreview"></div>
                <div id="mouse-position-mapPreview" class="mouse-position"></div>
                
                <button id="close" data-dismiss="modal"
                    class="btn btn-primary btn-sm btn-icon" type="button">

                    <i class="zmdi zmdi-close"></i>
                </button>
            </div>
        </div>
    </div>
</div>