<input 
value="{{ val }}" 
class="{{ class }} datetime"        
placeholder="{{ placeholder }}"        
name="{{ name }}" id="{{ name }}"
>

<input 
[hidden]="filterType != '4'"
value="{{ val2 }}" 
class="{{ class }} datetime"        
placeholder="İkinci zaman"        
name="{{ name }}_2" id="{{ name }}_2"
>

<select *ngIf="showFilterTypesSelect"
    id="{{ name }}_filter_type" name="{{ name }}_filter_type" style="margin-top: 10px;"
    value="{{ filterType }}"
    (change)="filterTypeChanged($event)"
    class="show-tick ms form-control">
    
    <option value="1">
        Buna eşit
    </option>
    <option value="2">
        Bundan önce
    </option>
    <option value="3">
        Bundan sonra
    </option>
    <option value="4">
        İki zaman arasında
    </option>
</select>