<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <form class="card auth_form">
                    <div class="header">
                        <img class="logo" src="assets/themes/aero/assets/images/logo100x100.png" alt="">
                        <h5>Kullanıcı Girişi</h5>
                    </div>
                    <div class="body">
                        <div class="input-group mb-3">
                            <input class="form-control"  name="email" id="email" type="text" [(ngModel)]="user.email" placeholder="E-mail yada Kimlik No">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control"  name="password" id="password" type="password" [(ngModel)]="user.password" placeholder="Şifre">
                            <div class="input-group-append">                                
                                <span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
                            </div>                            
                        </div>
                        <div class="mb-3" style="text-align: right">
                            <a style="font-size: 11px;" (click)="forgetPassword()">Şifremi Unuttum</a>
                        </div>
                        <button 
                            (click)="doLogin()" 
                            [class]="'btn btn-primary btn-block waves-effect waves-light ' + (loading ? 'disabled' : '')"
                            >
                            Giriş Yap
                        </button>                        
                        
                    </div>
                </form>
                <div class="copyright text-center">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> 2021,
                    <span><a (click)="navigate('http://www.omersavas.com', true)">omersavas</a></span>
                </div>                
                <div class="copyright text-center" style="margin-top: 10;">
                    <span><a (click)="navigate('/lppd')" target="_blank">KVKK Aydınlatma Metni</a></span>       
                    &nbsp;&nbsp;             
                    <span><a (click)="navigate('/privacy-politica')" target="_blank">Gizlilik Politikamız</a></span>
                </div>
            </div>
            <div *ngIf="!isNative" class="col-lg-8 col-sm-12">
                <div class="card">
                    <img src="assets/themes/aero/assets/images/signin.svg" alt="Sign In"/>
                </div>
            </div>
        </div>
    </div>
</div>

<mobile-bottom-menu-element></mobile-bottom-menu-element> 