<section class="content">    
    <div class="block-header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">                
                <button class="btn btn-sm btn-secondary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <img [src]="get404ImageUrl()" alt="404">
        </div>
    </div>
</section>