.cdk-drag-preview 
{
  padding: 7px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.operations button
{
  padding: 0;
  margin: 1px;
  width: 25px !important;
  min-width: 25px !important;
  height: 25px !important;
  min-height: 25px !important;

  span
  {
    padding: 0;
    margin: 0;
    font-size: 13px;
  }
}

form-element
{
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.dropdown-menu
{
  li
  {
    a
    {
      font-size: 12px !important;
      padding: 2px 0 2px 5px !important;
    }
  }
}

.column-visibility li
{
  cursor: pointer;
}

.light-table
{
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;

  tr
  {
    padding: 0;
    margin: 0;
    border: 0;

    td.sort-info
    {
      text-align: right;
      font-size: 11px;
      
      span
      {
        font-size: 11px;
      }
    }

    td.clear-filter
    {
      padding: 12px 3px 0 3px;
      text-align: right;
      
      span
      {
        font-size: 11px;
        cursor: pointer;
      }
    }

    td
    {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}