<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      İletişim
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">İletişim Bilgileri</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid style="margin-top: 75px">
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-icon (click) = "openInBrowser('https://www.facebook.com')" style="margin-right: 20px;" name="logo-facebook" size="large" color="primary"></ion-icon>
        <ion-icon (click) = "openInBrowser('https://www.twitter.com')" style="margin-right: 20px;" name="logo-twitter" size="large" color="secondary"></ion-icon>
        <ion-icon (click) = "openInBrowser('https://www.instagram.com')" name="logo-instagram" size="large" color="danger"></ion-icon>
      </ion-col>      
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="3">
        Adres:
      </ion-col>
      <ion-col size="9">
        Yeni Mahalle Mahallesi Anavatan Bulvarı No:125 Yozgat/Merkez
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        Telefon:
      </ion-col>
      <ion-col size="9" (click)="ara()">
        +90 2XX XXX XX XX
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        Fax:
      </ion-col>
      <ion-col size="9">
        +90 2XX XXX XX XX
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        Mail:
      </ion-col>
      <ion-col size="9">
        <a href="mailto:iletisim@kutahyaozid.gov.tr">iletisim@omersavas.com</a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  
  <ion-button (click)="openInNavigateApp()" expand="block" color="danger">Yol Tarifi Al</ion-button>

  <img style="margin: 10px; width: calc(100% - 20px);" src="assets/img/map.png">
  
</ion-content>
