ion-title
{
    padding-inline-start: 0px;
}

ion-header
{
    height: 0px !important;
}

ion-card-title 
{
    font-size: 16px !important;
}

ion-card-content p
{
    font-size: 14px !important;
}

ion-row
{
    font-size: 14px !important;
}