<table class="light-table">
    <tr>
        <td>
            <a *ngIf="!isElementNull()" style="color: #0c7ce6" (click)="preview()">{{ this.getDisplayName(type)  }}</a>
        </td><td style="padding-left: 5px">
            <a 
                *ngIf="mapAuthControl() && !isElementNull()" 
                href="{{ getBaseUrl() }}map#zoomTo={{ getZoomToJson() }}" 
                target="_blank"
                class=" waves-effect waves-block btn btn-sm btn-primary" 
                style="margin-top: -3; padding: 3px !important;">
                
                <i class="zmdi zmdi-gps-dot"></i>
            </a>
        </td>
    </tr>
</table>