form-element 
{
    padding: 0;
    border: 0;
    background-color: white;
    margin: 5 0 10 0;

    .select2-container, .select2, .select2-container--default
    {
        margin: 0px !important;
    }
}

.tr-hover:hover
{
    background-color: #e0e0e0;
}

.btn-sm
{
    padding: 3px;
    font-size: 9;
    border-radius: 2px;
}



.btn-close
{
  padding: 0;
  margin: 1px;
  width: 25px !important;
  min-width: 25px !important;
  height: 25px !important;
  min-height: 25px !important;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9999;
}

@media only screen and (max-width: 640px) 
{
	.btn-close
    {
        position: absolute !important;
        top: 2px;
        right: 40px;
        z-index: 9999;
    }
}


.light-table
{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;

    tr
    {
        padding: 0;
        margin: 0;
        border: 0;
        td
        {
            padding: 0;
            margin: 0;
            border: 0;
        }
    }
}

@media only screen and (min-width: 800px) {
  .dragdrop-container 
  {
      width: 300px !important;        
      margin-right: 25px !important; 
  }
}

.dragdrop-container {
width: 100%;
margin-bottom: 25px;
display: inline-block;
vertical-align: top;
margin-left: 0px; 
}

.dragdrop-list {
border: solid 1px #ccc;
min-height: 60px;
background: white;
border-radius: 4px;
overflow: hidden;
display: block;
max-height: 200px;
overflow: auto;
}

.dragdrop-box {
padding: 5px;
border-bottom: solid 1px #ccc;
color: rgba(0, 0, 0, 0.87);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
cursor: move;
background: white;
font-size: 13px;
}

.cdk-drag-preview {
box-sizing: border-box;
border-radius: 4px;
box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
opacity: 0;
}

.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dragdrop-box:last-child {
border: none;
}

.dragdrop-list.cdk-drop-list-dragging .dragdrop-box:not(.cdk-drag-placeholder) {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}