body
{
    font-size: 13px !important;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    
    overflow-y: auto !important;
    overflow-x: hidden;
}

table
{
    font-size: 13px !important;
}

a
{
    cursor: pointer;
}

a span.zmdi, a span.ti, a i.ti, a i.zmdi
{
    color: white;
}

.menu .zmdi, .navbar-nav .zmdi, .dropdown-item span
{
    color: #666 !important; 
}

input::placeholder, .select2-selection__placeholder, textarea::placeholder
{
    color:#ccc !important;
}

::selection {
  color: #ffffff;
  background: #0b76fbc2;
}

#defaultFeatureInfoModal in-show-element section
{
    padding: 0px !important;
    margin: 0px !important;
}

.bootstrap-select
{
    display: none !important;
    visibility: hidden;
}

section.content 
{
    background: #eaeaea !important;
    box-shadow: 0 0 16px rgba(41,42,51,0.1), 0 6px 20px rgba(41,42,51,0.1) !important;
}

.selected-option
{
    background-color: #9aeef1 !important;
}

.mouse-position
{
    color: #847d7d; 
    padding: 0 5; 
    bottom: 5px;
    z-index: 999999; 
    position: absolute; 
    background-color: #ccc; 
    font-weight: bold;
}

.imitation-user-logout-button
{
    color: red !important;
}

.cdk-drag-preview {
    z-index: 99999999999999 !important;
}

.wizard.vertical > .content
{
    width: 70% !important;
}

.file-preview
{
    box-shadow: 0px 5px 5px 0px rgba(41,42,51,0.2);
    height: 40px;
    width: 40px;
}

.swal2-container 
{
    z-index: 9999999999 !important;
}

.theme-light .open
{
    background-color: rgba(255,255,255,0.9) !important;
}


.theme-dark .column-filter, .theme-dark  table, .theme-dark  select, .theme-dark  input
{
    color: #aaa !important;
}

.theme-dark .select2-search__field, .theme-dark .select2-selection
{
    background-color: #313131 !important;
}

.theme-dark .modal-content
{
    background-color: #4c4c4c !important;
}

.theme-dark select
{
    border-color: #b3b3b5 !important;
}

.trumbowyg-box
{
    margin: 0px !important;
}

.filter-cell .input-group-text
{
    padding: 2 !important;
    height: 25 !important;
    margin: 5 0 0 10 !important;
}

.select2-selection--multiple
{
    display: inline-table !important;
    width: 100% !important;
}

.comboboxlist-td
{
  font-size: 12px !important;
  padding: 2 !important;    
}

.comboboxlist-td i
{
    font-size: 13px;
}

.nav-tabs>.nav-item>.nav-link 
{
    border-radius: 0px !important;
}

.arrow
{
    display: none !important;
}

.modal-content
{
    max-width: 85% !important;
}

.select2-container
{
    margin: 0 !important;
}

.link_description
{
    font-size: 10px;
    margin-left: 40px;
    padding-bottom: 8px;
    color: darkgray;
}

#close
{
    position: absolute !important;
    top: 5px;
    right: 5px;
    z-index: 120;
}

.pull-rigth
{
    float: right;
}

.pull-left
{
    float: left;
}

.app-bar
{
    height: 50;
    background-color: #eaeaea;
    border-bottom: 2px solid #999;
    margin-bottom: 10;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.modal-content
{
    margin-right: auto;
    margin-left: auto;
}

.mobile_menu{
    top:5px !important;
    right:5px  !important;
}

section, .navbar-nav, .sidebar
{
    -webkit-transition: all 0.1s !important;
    transition: all 0.1s !important;
}

#leftsidebar
{
    z-index: 20;
}

#leftsidebar a
{
    text-decoration: none;
}

.btn-block
{
    width: 100%;
}