<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>
                        {{ data['title'] }}
                    </h2>
                    <button class="btn btn-secondary btn-sm btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12"> 
                    <button 
                        class="btn btn-sm btn-secondary btn-icon float-right right_icon_toggle_btn" 
                        type="button">
                            
                        <i class="zmdi zmdi-arrow-right"></i>
                    </button>
                    
                    <button *ngIf="editable" 
                        class="btn btn-sm btn-primary btn-icon float-right right_icon_toggle_btn" 
                        (click)="edit()"
                        type="button">
                            
                        <span class="ti-pencil-alt2"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">

                        <!-- None -->
                        <div *ngIf="data['column_set']['column_set_type'] == 'none'">                           
                            <div *ngFor="let columnArray of data['column_set']['column_arrays']">
                                <h4 *ngIf="columnArray['title'] != ''" style="margin-bottom: 0">
                                    {{ columnArray['title'] }}
                                </h4>
                                <column-array-element 
                                    defaultLimit = "{{ defaultLimit }}" 
                                    tableName = "{{ tableName }}" 
                                    columnArrayJson="{{ columnArray['json'] }}"
                                    recordJson="{{ data['record']['json'] }}">
                                </column-array-element>
                            </div>
                        </div>
                        <!-- /None -->
                        
                        
                        
                        <!--- Accordion -->
                        <div *ngIf="data['column_set']['column_set_type'] == 'accordion'" class="body">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div *ngFor="let columnArray of data['column_set']['column_arrays']" 
                                    class="panel panel-primary">
                        
                                    <div class="panel-heading" role="tab" id="heading{{ columnArray['id'] }}">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" 
                                                data-parent="#accordion" href="#collapse{{ columnArray['id'] }}"
                                                aria-expanded="false" [attr.aria-controls]="'collapse' + columnArray.id " 
                                                class="collapsed"> 

                                                {{ columnArray['name_basic'] }}
                                            </a> 
                                        </h4>
                                    </div>
                                    <div id="collapse{{ columnArray['id'] }}" 
                                         class="panel-collapse collapse in" 
                                         role="tabpanel"
                                         [attr.aria-labelledby]="'heading' + columnArray['id'] ">
                        
                                        <div class="panel-body">
                        <!--- /Accordion -->

                        <!--- Common -->
                        <column-array-element 
                            defaultLimit = "{{ defaultLimit }}" 
                            tableName = "{{ tableName }}" 
                            columnArrayJson="{{ columnArray['json'] }}"
                            recordJson="{{ data['record']['json'] }}">
                        </column-array-element>
                        <!--- /Common -->

                        <!--- Accordion -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--- /Accordion -->


                        
                        <!--- Tabs -->
                        <div class="body" *ngIf="data['column_set']['column_set_type'] == 'tab'">
                            <ul class="nav nav-tabs p-0 mb-3 nav-tabs-primary">
                                <li *ngFor="let columnArray of data['column_set']['column_arrays']; let i = index" class="nav-item">
                        
                                    <a [class]="'nav-link '+(i == 0 ? 'active' : '')" data-toggle="tab" href="#tab{{ columnArray['id'] }}">                            
                                        {{ columnArray['name_basic'] }}
                                    </a>
                                </li>
                            </ul>
                        
                            <div class="tab-content">
                        
                                <div 
                                    *ngFor="let columnArray of data['column_set']['column_arrays']; let i = index" 
                                    [class]="'tab-pane '+(i == 0 ? 'active' : '')" 
                                    role="tabpanel" 
                                    id="tab{{ columnArray['id'] }}">
                        <!--- /Tabs -->

                        <!--- Common -->
                        <column-array-element 
                            defaultLimit = "{{ defaultLimit }}" 
                            tableName = "{{ tableName }}" 
                            columnArrayJson="{{ columnArray['json'] }}"
                            recordJson="{{ data['record']['json'] }}">
                        </column-array-element>
                        <!--- /Common -->

                        <!--- Tabs -->
                                </div>            
                            </div>
                        </div>
                        <!--- /Tabs -->
                        
                        
                        
                        <!--- Group Box -->
                        <div class="body" *ngIf="data['column_set']['column_set_type'] == 'group_box'">
                            <div *ngFor="let columnArray of data['column_set']['column_arrays']" class="box box-primary">
                                <h5 style="margin: 5px 0 15px 0">{{ columnArray['name_basic'] }}</h5>                    
                        <!--- /Group Box -->

                        <!--- Common -->
                        <column-array-element 
                            defaultLimit = "{{ defaultLimit }}" 
                            tableName = "{{ tableName }}" 
                            columnArrayJson="{{ columnArray['json'] }}"
                            recordJson="{{ data['record']['json'] }}">
                        </column-array-element>
                        <!--- /Common -->

                        <!--- Group Box -->
                            </div>
                        </div>
                        <!--- /Group Box -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>