<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2 [hidden]="getData('column_set.name') != null && getData('column_set.name').length > 0">{{ tableDisplayName }} Bilgi Kartı</h2>
                    <h2 [hidden]="getData('column_set.name') == null || getData('column_set.name').length == 0">{{ getData('column_set.name') }}</h2>
                    <button class="btn btn-secondary btn-sm btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn btn-sm btn-secondary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">

                        <!-- None -->
                        <div *ngIf="getData('column_set.column_set_type') == 'none'">                           
                            <div *ngFor="let columnArray of getData('column_set.column_arrays');">
                                <h4 *ngIf="columnArray.name_basic.substr(0,1) != ' '"> {{ columnArray.name_basic }}</h4>
                                <column-array-element 
                                    defaultLimit = "{{ defaultLimit }}" 
                                    tableName = "{{ tableName }}" 
                                    columnArrayJson="{{ getJson(columnArray) }}"
                                    recordJson="{{ getJson(getData('record')) }}">
                                </column-array-element>
                            </div>
                        </div>
                        <!-- /None -->
                        
                        
                        
                        <!--- Accordion -->
                        <div class="body" *ngIf="getData('column_set.column_set_type') == 'accordion'">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div *ngFor="let columnArray of getData('column_set.column_arrays')" class="panel panel-primary">
                        
                                    <div class="panel-heading" role="tab" id="heading{{ columnArray.id }}">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" 
                                                data-parent="#accordion" href="#collapse{{ columnArray.id }}"
                                                aria-expanded="false" [attr.aria-controls]="'collapse' + columnArray.id " 
                                                class="collapsed"> 

                                                {{ columnArray.name_basic }}
                                            </a> 
                                        </h4>
                                    </div>
                                    <div id="collapse{{ columnArray.id }}" class="panel-collapse collapse in" role="tabpanel" [attr.aria-labelledby]="'heading' + columnArray.id ">
                        
                                        <div class="panel-body">
                        <!--- /Accordion -->

                        <!--- Common -->
                        <column-array-element 
                            defaultLimit = "{{ defaultLimit }}" 
                            tableName = "{{ tableName }}" 
                            columnArrayJson="{{ getJson(columnArray) }}"
                            recordJson="{{ getJson(getData('record')) }}">
                        </column-array-element>
                        <!--- /Common -->

                        <!--- Accordion -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--- /Accordion -->

                        <!--- Tabs -->
                        <div class="body" *ngIf="getData('column_set.column_set_type') == 'tabs'">
                            <ul class="nav nav-tabs p-0 mb-3 nav-tabs-primary">
                                <li *ngFor="let columnArray of getData('column_set.column_arrays'); let i = index" class="nav-item">
                        
                                    <a [class]="'nav-link '+(i == 0 ? 'active' : '')" data-toggle="tab" href="#tab{{ columnArray.id }}">                            
                                        {{ columnArray.name_basic }}
                                    </a>
                                </li>
                            </ul>
                        
                            <div class="tab-content">
                        
                                <div *ngFor="let columnArray of getData('column_set.column_arrays'); let i = index" [class]="'tab-pane '+(i == 0 ? 'active' : '')" role="tabpanel" id="tab{{ columnArray.id }}">
                        <!--- /Tabs -->

                        <!--- Common -->
                        <column-array-element 
                            defaultLimit = "{{ defaultLimit }}" 
                            tableName = "{{ tableName }}" 
                            columnArrayJson="{{ getJson(columnArray) }}"
                            recordJson="{{ getJson(getData('record')) }}">
                        </column-array-element>
                        <!--- /Common -->

                        <!--- Tabs -->
                                </div>            
                            </div>
                        </div>
                        <!--- /Tabs -->



                        <!--- Group Box -->
                        <div class="body" *ngIf="getData('column_set.column_set_type') == 'group_box'">
                            <div *ngFor="let columnArray of getData('column_set.column_arrays')" class="box box-primary">
                                <h5 style="margin: 5px 0 15px 0">{{ columnArray.name_basic }}</h5>                    
                        <!--- /Group Box -->

                        <!--- Common -->
                        <column-array-element 
                            defaultLimit = "{{ defaultLimit }}" 
                            tableName = "{{ tableName }}" 
                            columnArrayJson="{{ getJson(columnArray) }}"
                            recordJson="{{ getJson(getData('record')) }}">
                        </column-array-element>
                        <!--- /Common -->

                        <!--- Group Box -->
                            </div>
                        </div>
                        <!--- /Group Box -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>