<input type="hidden"
(change)="handleChange($event)" 
name="{{ name }}" id="{{ name }}"
value="{{ value }}">

<div [class]="showFilterTypesSelect ? 'filter-element-big' : 'filter-element'">
    <span (click)="clearValue()" style="right: 10; position: absolute;">x</span>
    
    <a (click)="openMapElement()" [ngStyle]="getStyle()">
        {{ getDescription() }}
    </a>
</div>

<div class="modal fade" id="{{ name }}ElementModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 5px !important;">
                <div                                                  
                    class="btn-group" 
                    id="map-menu"
                    ngbDropdown role="group"
                    aria-label="Button group with nested dropdown">

                    <button
                        class="btn btn-icon btn-sm float-right btn-primary pull-right" 
                        id="drawButton"  
                        ngbDropdownToggle> 

                        <span style="font-size: 15px;" class="ti ti-menu" ></span>
                    </button>

                    <div ngbDropdownMenu> 
                        <a 
                            (click)="changeFeaturesPanelVisible(true)"
                            class="dropdown-item"
                            ngbDropdownItem>

                            Nesne Detaylar
                        </a>    
                        <a 
                            (click)="addNetcadFeatures()"
                            class="dropdown-item"
                            ngbDropdownItem>

                            NetCAD 'den Al
                        </a>    
                        <a 
                            *ngIf="kmzAuthControl() && !isMobileDevice()" 
                            (click)="selectKmzFile()"
                            class="dropdown-item"
                            ngbDropdownItem>

                            Kmz Yükle
                        </a>  
                    </div>
                </div>
                
                <button 
                    (click)="emitChangedEvent()" 
                    class="btn btn-primary btn-sm" id="save-button"> 
                    
                    Kaydet
                </button>
               

                <div class="row" style="margin: 0px !important">
                    <div style="width: 100%; min-height:200px"  id="{{ name }}MapElement"></div>
                    <div style="min-height: 25px;" class="mouse-position" id="mouse-position-{{ name }}MapElement"></div>
                    <div id="{{ name }}-featuresPanel" class="featuresPanel" [hidden]="!featuresPanelVisible">
                        <table width="100%">
                            <tr>
                                <td width="30%">
                                    <ul>
                                        <li 
                                            style="cursor: pointer;"
                                            *ngFor="let feature of features" >

                                            <span class="badge badge-info">
                                                <span (click)="selectFeature(feature)">
                                                    {{ feature["typeName"] }} (id: {{ feature["ol_uid"] }})
                                                </span>
                                                <span (click)="deleteFeature(feature)">
                                                    x
                                                </span>
                                            </span>
                                            
                                        </li>
                                    </ul>                                    
                                </td>
                                <td valign="top">
                                    {{ selectedFeatureGeoJson }}
                                </td>
                            </tr>
                        </table>
                        <span
                            (click)="changeFeaturesPanelVisible(false)"
                            style="position: absolute; right: 5px; top: 5px;cursor: pointer"
                            class="badge badge-danger">x</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select *ngIf="showFilterTypesSelect"
        id="{{ name }}_filter_type" name="{{ name }}_filter_type" style="margin-top: 10px;"
        value="{{ filterType }}"
        class="show-tick ms form-control">
    
        <option value="1">
            Herhangi bir alanla kesişen
        </option>
        <option value="2">
            Tüm alanlarda aynı anda kesişen
        </option>
</select>

<input style="display: none;" name="kmzFile" id="kmzFile" type="file" accept=".kmz,.kml">