html > body
{
    overflow-y: auto !important;
    overflow-x: hidden;
}

body
{
    font-size: 13px !important;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
table
{
    font-size: 13px !important;
}

a
{
    cursor: pointer;
}

input::placeholder, .select2-selection__placeholder, textarea::placeholder
{
    color:#ccc !important;
}

::selection {
  color: #ffffff;
  background: #0b76fbc2;
}

#defaultFeatureInfoModal in-show-element section
{
    padding: 0px !important;
    margin: 0px !important;
}

.bootstrap-select
{
    display: none !important;
    visibility: hidden;
}

.selected-option
{
    background-color: #9aeef1 !important;
}

.mouse-position
{
    color: #847d7d; 
    padding: 0 5; 
    bottom: 5px;
    z-index: 999999; 
    position: absolute; 
    background-color: #ccc; 
    font-weight: bold;
}

.imitation-user-logout-button
{
    color: red !important;
}

.cdk-drag-preview {
    z-index: 99999999999999 !important;
}

.wizard.vertical > .content
{
    width: 70% !important;
}

.file-preview
{
    box-shadow: 0px 5px 5px 0px rgba(41,42,51,0.2);
    height: 40px;
    width: 40px;
}

.swal2-container 
{
    z-index: 9999999999 !important;
}

.theme-light .open
{
    background-color: rgba(228,114,151,0.9) !important;
}

.theme-dark .column-filter, .theme-dark  table, .theme-dark  select, .theme-dark  input
{
    color: #aaa !important;
}

.theme-dark .select2-search__field, .theme-dark .select2-selection
{
    background-color: #313131 !important;
}

.theme-dark .modal-content
{
    background-color: #4c4c4c !important;
}

.theme-dark select
{
    border-color: #b3b3b5 !important;
}

.trumbowyg-box
{
    margin: 0px !important;
}

.filter-cell .input-group-text
{
    padding: 2 !important;
    height: 25 !important;
    margin: 5 0 0 10 !important;
}

#close
{
    position: absolute !important;
    top: 5px;
    right: 5px;
    z-index: 9999;
}

