input.column-filter
{
    background-color: white !important;
    padding: 5px !important;
    margin: 5px !important;
    border-color: #ccc !important;
    font-size: 12px !important;
    height: 25px !important;
}

select.column-filter
{
    font-size: 12px !important;
    padding: 4px 0 !important;
    margin: 5px 0 0 5px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    color: #666 !important;
    height: 25px !important;
}

.column-filter::-webkit-input-placeholder
{
    font-size: 12px !important;
    padding: 2px 0 2px 5px;
}
