form-element 
{
    padding: 0;
    border: 0;
    background-color: white;
    margin: 5 0 10 0;

    .select2-container, .select2, .select2-container--default
    {
        margin: 0px !important;
    }
}

.tr-hover:hover
{
    background-color: #e0e0e0;
}

.btn-sm
{
    padding: 3px;
    font-size: 9;
    border-radius: 2px;
}



.btn-close
{
  padding: 0;
  margin: 1px;
  width: 25px !important;
  min-width: 25px !important;
  height: 25px !important;
  min-height: 25px !important;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9999;
}

@media only screen and (max-width: 640px) 
{
	.btn-close
    {
        position: absolute !important;
        top: 2px;
        right: 40px;
        z-index: 9999;
    }
}


.light-table
{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;

    tr
    {
        padding: 0;
        margin: 0;
        border: 0;
        td
        {
            padding: 0;
            margin: 0;
            border: 0;
        }
    }
}

@media only screen and (min-width: 800px) {
  .dragdrop-container 
  {
      width: 300px !important;        
      margin-right: 25px !important; 
  }
}

.dragdrop-container {
width: 100%;
margin-bottom: 25px;
display: inline-block;
vertical-align: top;
margin-left: 0px; 
}

.dragdrop-list {
border: solid 1px #ccc;
min-height: 60px;
background: white;
border-radius: 4px;
overflow: hidden;
display: block;
overflow: auto;
}

.dragdrop-box {
padding: 5px;
border-bottom: solid 1px #ccc;
color: rgba(0, 0, 0, 0.87);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
cursor: move;
background: white;
font-size: 13px;
}

.cdk-drag-preview {
box-sizing: border-box;
border-radius: 4px;
box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
opacity: 0;
}

.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dragdrop-box:last-child {
border: none;
}

.dragdrop-list.cdk-drop-list-dragging .dragdrop-box:not(.cdk-drag-placeholder) {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box.box-primary 
{
    border-top-color: #2184be;
}
.box.box-info 
{
    border-top-color: #5CC5CD;
}
.box.box-danger 
{
    border-top-color: #ee2558;
}
.box.box-warning 
{
    border-top-color: #FF9948;
}

.box 
{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 10px;
}

.btn-primary {
    background-color: #2184be;
    color: #fff;
}

.progress {
    background: #dfdfdf !important;
}


.bs-wizard {
    margin-top: 40px; }
  
  /*Form Wizard*/
  .bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0; }
  
  .bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative; }
  
  .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px; }
  
  .bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #D8D8D8;
    font-size: 14px; }
  
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    background: #fbe8aa;
    top: 5px;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 50%; }
  
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 9px;
    height: 9px;
    background: #fbbd19;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    left: 3px; }
  
  .bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none; }
  
  .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #fbe8aa; }
  
  .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%; }
  
  .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%; }
  
  .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%; }
  
  .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%; }
  
  .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #dfdfdf; }
  
  .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0; }
  
  .bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%; }
  
  .bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%; }
  
  .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none; }
  
  .active-text {
    color: #333333 !important;
    font-size: 16px !important; }


    .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        float: left;
    }

    .col-xs-1 {
        width: 9.090909%;
    }