.btn-sm
{
  padding: 0;
  margin: 1px;
  width: 25px !important;
  min-width: 25px !important;
  height: 25px !important;
  min-height: 25px !important;
}

.badge 
{
  margin-left: 5px !important;
}

.inFormElementSection
{
  margin: 0px !important;
  padding: 0px !important;
}