<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kamu Bilgi Sistemi 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">
        Kamu Bilgi Sistemi
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height:40px"></div>

  <ion-card (click)="readContent(content)" *ngFor="let content of publicContents">
    <img src="{{ content['imageUrls'][0] }}"/>
    <ion-card-content>
      <ion-card-title>
        {{ content.name_basic }}  
      </ion-card-title>
      <p [innerHtml]="content.summary"> </p>
    </ion-card-content>
  </ion-card>

</ion-content>