<select 
    class="{{ class }} show-tick ms" 
    name="{{ name }}" id="{{ name }}"   
    (change)="handleChange($event)" 
    value="{{ value }}">
    
    <option style="display: none;" value="" disabled>
        {{ placeholder }}
    </option>
    <option value="true">
        {{ getDisplayName(true) }}
    </option>
    <option value="false">
        {{ getDisplayName(false) }}                                                                                     
    </option>
</select>

<input *ngIf="showFilterTypesSelect" type="hidden"
    id="{{ name }}_filter_type" name="{{ name }}_filter_type"
    value="1">