form-element 
{
    padding: 0;
    border: 0;
    background-color: white;
    margin: 5 0 10 0;

    .select2-container, .select2, .select2-container--default
    {
        margin: 0px !important;
    }
}

.column-filter
{
  margin-left: 0 !important;
}

.form-group
{
  margin: 0 !important;
}

.tr-hover:hover
{
    background-color: #e0e0e0;
}

.light-table
{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;

    tr
    {
        padding: 0;
        margin: 0;
        border: 0;
        td
        {
            padding: 0;
            margin: 0;
            border: 0;
        }
    }
}

#eSignsButton
{
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 9999999;
    box-shadow: 0px 0px 5px 5px #aaa;
}