<input 
(input)="handleChange($event)" 
(keydown)="handleKeyDown($event)"
value="{{ value }}" 
class="{{ class }}"        
placeholder="{{ placeholder }}"        
name="{{ name }}" id="{{ name }}"
>

<select *ngIf="showFilterTypesSelect"
    id="{{ name }}_filter_type" name="{{ name }}_filter_type" style="margin-top: 10px;"
    value="{{ filterType }}"
    class="show-tick ms form-control">
    
    <option value="1">
        içinde ... geçen
    </option>
    <option value="2">
        ... ile başlayan
    </option>
    <option value="3">
        ... ile biten
    </option>
    <option value="4">
        ==
    </option>
    <option value="5">
        !=
    </option>    
    <option value="6">
        özel
    </option>
</select>