<h5 *ngIf="columnArray['name'] != ''" style="margin: 25px 0 10px 0">                            
    <strong>{{ columnArray['name'] }}</strong>
</h5>


<div class="form-group" id="{{ columnArray['id'] }}-group" *ngFor="let columnName of columnArray['columnNames']">  
    <table *ngIf="columnArray['columns'][columnName]['visible']" class="light-table">
        <tbody>
            <tr class="{{ columnArray['columns'][columnName]['relationClass'] }}">
                <td>
                    {{ columnArray['columns'][columnName]['display_name'] }}
                </td>
                <td *ngIf="!inFormIsDataTransport" align="right">
                    <button 
                        *ngIf="columnArray['columns'][columnName]['isColumnRelationDataCreateAuth']"
                        (click)="addRelationRecord(columnName)"  
                        class="btn btn-sm btn-primary">
                        
                        Ekle
                    </button>

                    <button 
                        *ngIf="columnArray['columns'][columnName]['isColumnRelationDataEditAuth']"
                        (click)="editRelationRecord(columnName)"  
                        class="btn btn-sm btn-primary">
                        
                        Düzenle
                    </button>
                    
                    <button 
                        *ngIf="columnArray['columns'][columnName]['isColumnRelationDataCreateAuth']"
                        (click)="cloneRelationRecord(columnName)"  
                        class="btn btn-sm btn-primary">
                        
                        Klonla
                    </button>
                </td>
                
                <td *ngIf="inFormIsDataTransport" align="right">
                    
                    <select  [(ngModel)]="inFormDataTransportSelectValues[columnName]"
                        style="width: 250; font-size: 12px; padding: 5;"
                        class="form-control"
                        name="{{ columnName }}-DTS"
                        id="{{ columnName }}-DTS" >
                        
                        <option value="">Seçenekler</option>
                        <option 
                            *ngFor="let opt of inFormDataTransportSelectOptions" 
                            value="{{ opt['source'] }}">
                            
                            {{ opt['display'] }}
                        </option>
                    </select>
                </td>
            </tr><tr>
                <td colspan="2">
                    <form-element 
                        style="display: inline-table;"
                        (changed)="changed(columnName, $event)" 
                        name="{{ columnName  }}"
                        recordJson="{{ recordJson }}"
                        columnName="{{ columnName  }}"
                        class="form-control"
                        upFormId="{{ upFormId }}"
                        showClearDataButton="true"
                        baseUrl="{{ 'tables/' + tableName }}" [createForm]="createForm"
                        upColumnName="{{ columnArray['columns'][columnName]['up_column_name'] }}"
                        srid="{{ columnArray['columns'][columnName]['srid'] }}"
                        type="{{ columnArray['columns'][columnName]['gui_type_name'] }}"
                        placeholder="{{ columnArray['columns'][columnName]['display_name'] }}"
                        defaultData="{{ columnArray['columns'][columnName]['default'] }}"
                        value="{{ record[columnName] }}" valueJson="{{ recordValueJson[columnName] }}"> 
                    </form-element> 
                </td>
            </tr><tr>
                <td colspan="10">
                    <span
                        *ngFor="let message of messages[columnName]"
                        class="badge badge-{{ message['type'] }}">
                        {{ message['message'] }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div 
    class="modal fade"
    id="{{ inFormElementId }}inFormModal" 
    role="dialog" 
    [attr.aria-labelledby]="inFormTableName+'inFormModalLabel'" 
    aria-hidden="true">
    
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0px !important;">
                <in-form-element  
                    *ngIf="inFormTableName.length > 0"
                    id="{{ inFormElementId }}" 
                    (formSaved)="inFormSavedSuccess($event)"
                    (formLoad)="inFormload($event)"
                    inFormTableName="{{ inFormTableName }}"
                    inFormColumnName="{{ inFormColumnName }}" 
                    inFormRecordId="{{ inFormRecordId }}">
                
                </in-form-element>
                
                <button class="btn btn-danger btn-block" 
                    style="position: absolute; margin: -35 20 0 20; width: -webkit-fill-available;"
                    (click)="closeModal(inFormElementId+'inFormModal')"
                    type="button">İptal
                </button>
            </div>
        </div>
    </div>
</div>