<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      İçerik
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Kapat</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">
        İçerik
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height:40px"></div>

  <ion-card>
    <img src="{{ data['imageUrls'][0] }}"/>
    <ion-card-content>
      <ion-card-title>
        {{ data['name_basic'] }}  
      </ion-card-title>
      <br>
      <p [innerHtml]="data['summary']"> </p>
      <br>
      <p [innerHtml]="data['content']"> </p>
      
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let url of data['imageUrls']">
          <img src="{{ url }}"/>
        </ion-slide>
      </ion-slides>
    </ion-card-content>

    <ion-item>
      <ion-badge color="medium" slot="start"> {{ data['user_id'] }} </ion-badge>      
      <ion-badge color="medium" slot="end"> {{ data['updated_at'].substr(0,16) }} </ion-badge>
    </ion-item>
  </ion-card>

</ion-content>